<!DOCTYPE html>
<html lang="zh-Hant">

<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<title>Cactus BackEnd</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Pridi:wght@600&display=swap"
		  rel="stylesheet">
	<!-- Tac One -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap" rel="stylesheet">
	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
	<!-- Libraries Stylesheet -->
	<link href="/lib/animate/animate.min.css" rel="stylesheet">
	<link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
	<!-- Customized Bootstrap Stylesheet -->
	<link href="/backend/css/bootstrap.min.css" rel="stylesheet">
	<!-- Template Stylesheet -->
	<link href="/backend/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="/backend/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<!-- 引入 DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<!-- 引入 DataTables JS -->
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>           <!-- ●●js  for jquery datatables 用 -->
	<script src="/postrequest.js"></script>

</head>

<style>
	.main {
		width: 980px;
		margin: 25px auto ;
	}
	.header span, table th, table td {
		vertical-align: middle;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}
	th, td {
		padding: 20px;
		text-align: center;
		vertical-align: middle;
	}

	.center {
		margin: auto;
	}


	label {
		display: block;
		margin-bottom: 15px; /* 設定下邊距為 10px */
	}

	label input[type="search"] {
		width: 60%;
		height: 25px;
		margin-bottom: 0;
	}

    .table-controls {
        display: flex;
        justify-content: flex-end; /* 將內容對齊到右側 */
        margin-bottom: 5px; /* 與表格之間的間距 */
        padding: 2px;

    .btn-primary{
            font-size: 13px; /* 减小字体大小 */
            border-radius: 4px; /* 设置圆角 */
        }

    }


</style>

<body>

	<!-- Topbar Start 置頂列-->
	<div class="container-fluid green-bg p-0 wow fadeIn " data-wow-delay="0.1s">
		<div class="row gx-0 d-none d-lg-flex shadow ">

			<!-- 左側圖標 -->
			<div class="col-lg-7 px-4 text-start">
				<img src="/images/LOGO-7.png" height="60" width="60" alt="#"/>
				<span class="navbar-brand2" href="#">CACTUS</span>
			</div>

			<!-- 右側文字節點 -->
			<div class="col-lg-5  text-end">

				<!-- <div class="container-fluid2">
					<a class="navbar-brand" href="#">Navbar</a>
					<a class="text-white px-2" href="">加入會員</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
				</div> -->
				<div class=" d-inline-flex align-items-center   height-1 border-dot">
					<!-- <a class="text-white px-2" href="">English ｜</a>
					<a class="text-white px-2" href="">日本語 ｜</a> -->
					<a class="text-white padding-set " href="">員工姓名</a>


				</div>
				<div class=" d-inline-flex align-items-center  me-2 height-1 border-dot">
					<!-- <a class="text-white px-2" href="">English ｜</a>
					<a class="text-white px-2" href="">日本語 ｜</a> -->
					<a class="text-white px-4 " href="">登出</a>
				</div>

			</div>
		</div>
	</div>

	<!-- Topbar End -->
	<div class="display-a">


		<!-- 側邊欄 -->
		<div class="main-menu">
	<!--		top:4rem;-->
	<!--		bottom:0;-->
	<!--		height:60rem;-->
	<!--		left:0;-->
	<!--		width:180px;-->
	<!--		overflow:hidden;-->
	<!--		-webkit-transition:width .2s linear;-->
	<!--		transition:width .2s linear;-->
	<!--		-webkit-transform:translateZ(0) scale(1,1);-->
	<!--		box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);-->
	<!--		opacity:1;-->

			<!-- <nav class="main-menu"> -->
			<ul class="list">

				<li class="border-dot2">

					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingOne">

							<button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa-solid fa-umbrella-beach padding-set2"></i>
								&nbsp;&nbsp;&nbsp;員工管理系統
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
							 data-bs-parent="#accordionExample">


							<div class="accordion-body2">

								<ul class="list2">
									<li class="list-set2"><a class="changecolor" href="">管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">管理</a> </li>
								</ul>

							</div>
						</div>
					</div>

				</li>


				<li class="border-dot2">


					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingTwo">

							<button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								<i class="fa-solid fa-umbrella-beach padding-set2"></i>
								&nbsp;&nbsp;&nbsp;活動管理系統
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo"
							 data-bs-parent="#accordionExample">
							<div class="accordion-body2">
								<ul class="list2">
									<li class="list-set2"><a class="changecolor" href="">活動類別管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">活動管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">活動場次</a> </li>
									<li class="list-set2"><a class="changecolor" href="">活動圖片管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">活動訂單管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">活動促銷管理</a> </li>
								</ul>

							</div>
						</div>
					</div>

				</li>


				<li class="border-dot2">


					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingThree">

							<button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
								<i class="fa-solid fa-umbrella-beach padding-set2"></i>
								&nbsp;&nbsp;&nbsp;商城管理系統
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree"
							 data-bs-parent="#accordionExample">
							<div class="accordion-body2">
								<ul class="list2">
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a> </li>
								</ul>

							</div>
						</div>
					</div>

				</li>


				<li class="border-dot2">


					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingFour">

							<button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
								<i class="fa-solid fa-umbrella-beach padding-set2"></i>
								&nbsp;&nbsp;&nbsp;房務管理系統
							</button>
						</h2>
						<div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour"
							 data-bs-parent="#accordionExample">
							<div class="accordion-body2">
								<ul class="list2">
									<li class="list-set2"><a class="changecolor" href="">房務訂單管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">房型管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">房間管理</a> </li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a> </li>
								</ul>

							</div>
						</div>
					</div>

				</li>
			</ul>
		</div>

		<!-- 主欄位 -->
        <div class="main">
            <div class="table-controls">
                <a th:href="@{/roomtype/addRoomType}" class="btn btn-primary" role="button">新增房型</a>
            </div>
            <table class="center" id="mainbox">
				<thead>
				<tr style="background-color:#b8daff;">
					<th>No</th>
					<th>房型編號</th>
					<th>房型名稱</th>
					<th>房型說明</th>
					<th>上下架狀態</th>
					<th>房型價格說明</th>
					<th>修改內容</th>
					<th>更換房型狀態</th>
				</tr>
				</thead>
				<tbody>

				<th:block th:each="roomTypeVO : ${allRoomTypes}" class="descriptions">
					<tr>
						<td th:text="${roomTypeVOStat.count}"></td>
						<td th:text="${roomTypeVO.roomTypeId}"></td>
						<td th:text="${roomTypeVO.roomTypeName}"></td>
						<td th:text="${roomTypeVO.roomTypeContent}" class="desc"></td>
						<td>
							<span th:if="${roomTypeVO.roomTypeStatus}" class="badge bg-success">上架中</span>
							<span th:unless="${roomTypeVO.roomTypeStatus}" class="badge bg-danger">下架中</span>
						</td>
						<td th:text="${roomTypeVO.roomTypePrice}"></td>
						<td>
							<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
									th:data-bs-target="'#exampleModal'+ ${roomTypeVO.roomTypeId}" >修改
							</button>
						</td>
						<!-----Modal ----->
						<div class="modal fade" th:id="'exampleModal'+ ${roomTypeVO.roomTypeId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">修改資料</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body" id="updateRTDiv">
										<!-- 表單 -->
										<form id="roomTypeForm"  method="post" action="/roomtype/updateRoomType">
											<div class="mb-3" >
												<label for="recipient-name1" class="col-form-label" >房型名稱:</label>
												<p type="text" class="form-control"
												   id="recipient-name1" name="roomTypeName" th:text="${roomTypeVO.roomTypeName}"></p>
											</div>
											<div class="mb-3">
												<label for="message-text" class="col-form-label">房型說明:</label>
												<textarea class="form-control"
														  id="message-text" name="roomTypeContent" th:text="${roomTypeVO.roomTypeContent}"></textarea>
											</div>
											<div class="mb-3">
												<label for="recipient-name" class="col-form-label">房型價格說明:</label>
												<p type="text" class="form-control"
												   id="recipient-name" name="roomTypePrice" th:text="${roomTypeVO.roomTypePrice}"></p>
											</div>
											<!-- 隐藏的输入字段用于存储roomTypeId -->
											<input type="hidden" id="roomTypeId" name="roomTypeId">
											<!--								<input type="hidden" id="roomTypeContent" name="roomTypeContent">-->
											<!--								<input type="hidden" id="roomTypePrice" name="roomTypePrice">-->
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
												<button type="submit" form="roomTypeForm" class="btn btn-primary"
														onclick="submitRoomTypeForm()">送出</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						<td>
							<form id="updateRTS" method="post" action="/roomtype/updateRTS">
								<input type="hidden" name="roomTypeStatus" th:value="${!roomTypeVO.roomTypeStatus}" />
								<input type="hidden" name="roomTypeId" th:value="${roomTypeVO.roomTypeId}" />
								<button type="submit" class="btn btn-outline-dark btn-sm" onclick="submitForm(event)">更換房型狀態</button>
							</form>
						</td>
					</tr>
				</th:block>

				</tbody>
			</table>
		</div>
	</div>


</body>

<!--以下為table分頁用-->
<script>

	$(document).ready(function() {
		$(".desc").each(function () {
			let text = $(this).text();
			if (text.length > 10) {
				$(this).text(text.substring(0, 10) + "...");
			}
		});
	});

	$('#exampleModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) // 按钮，触发了模态窗口
		var roomTypeId = button.data('roomtype-id') // 从 data-roomtype-id 属性中提取数据
		var modal = $(this)
		modal.find('.modal-body input#modalRoomTypeId').val(roomTypeId) // 更新隐藏字段的值
	})

			$(document).ready(function(search) {
			$('#mainbox').DataTable({
				"lengthMenu": [5, 10, 15],   //可以再加其他選項 20/50
				"searching": true,  //搜尋功能, 預設是開啟
				"paging": true,     //分頁功能, 預設是開啟
				"ordering": true,   //排序功能, 預設是開啟
				"language": {
					"processing": "處理中...",
					"loadingRecords": "載入中...",
					"lengthMenu": "顯示 _MENU_ 筆結果",
					"zeroRecords": "沒有符合的結果",
					"info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
					"infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
					"infoFiltered": "(從 _MAX_ 筆結果中過濾)",
					"infoPostFix": "",
					"search": "搜尋:",
					"paginate": {
						"first": "第一頁",
						"previous": "上一頁",
						"next": "下一頁",
						"last": "最後一頁"
					},
					"aria": {
						"sortAscending":  ": 升冪排列",
						"sortDescending": ": 降冪排列"
					}
				}
			});
		});


		var exampleModal = document.getElementById('exampleModal')
		exampleModal.addEventListener('show.bs.modal', function (event) {
			// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-bs-* attributes
			var recipient = button.getAttribute('data-bs-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = exampleModal.querySelector('.modal-title')
			var modalBodyInput = exampleModal.querySelector('.modal-body input')

			modalTitle.textContent = 'New message to ' + recipient
			modalBodyInput.value = recipient
		})




			function submitForm(event) {
			var confirmChange = confirm("確定要更改房型上下架嗎?");
			if (confirmChange) {
				document.getElementById("updateForm").submit();
			} else {
				event.preventDefault();
			}
		}

			function submitRoomTypeForm() {
			var form = document.getElementById('roomTypeForm');



			// 比如检查房型名稱是否为空
			var roomTypeName = document.getElementById('recipient-name1').value;
			if (!roomTypeName) {
				alert("請輸入房型名稱");
				// 可以加入更多驗證...
			}
		}

		function values(roomTypeContent){
			$('#roomTypeContent'.val(roomTypeContent))
		}

	$(document).ready(function() {
		$("#roomTypeForm").on("submit", function(event) {
			event.preventDefault();  // 阻止表單的預設提交行為

			$.ajax({
				url: "/roomtype/updateRoomType",  // 後端 URL
				type: "POST",  // 請求類型
				// 發送到服務器的數據
				data: {
					roomTypeContent: "",
					roomTypeName: "",
					roomTypePrice: ""
				},
				header: {
					"ConType" : "application/json"
				},
				success: function(response) {
					// 處理成功的回調
					alert("房型更新成功");
					location.reload();  // 可能需要刷新頁面或更新某部分的頁面內容
				},
				error: function(xhr, status, error) {
					// 處理錯誤的回調
					alert("更新失敗: " + error);
				}
			});
		});
	});


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>

</html>