<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>活動參加人員 </title>
    <style type="text/css">

        span {
            display: inline-block;
            width: 150px;
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div align="center"> <h2>活動參加人員資料 </h2>
    <h3><a class="navbar-brand" th:href="@{/attendees/select_attendees}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3>
</div>
<div align="center" th:fragment="listOneAttendees-div"> <!-- 此div被select_page.html第158行insert用 -->
    <h3><span>查詢結果 :</span></h3>
    <span>活動參加人員編號:</span><span th:text="${attendeesVO.activityAttendeesId}"></span><br/>
    <span>活動訂單編號:</span><span th:text="${attendeesVO.activityOrderVO.activityOrderId}"></span><br/>
    <span>參加人員姓名:</span><span th:text="${attendeesVO.attendeesName}"></span><br/>
    <span>性別:</span><span th:switch="${attendeesVO.memberGender}">
        <span th:case="0">男</span>
        <span th:case="1">女</span>
        <span th:case="2">其他</span>
    </span><br/>
    <span>身分證字號:</span><span th:text="${attendeesVO.attendeesIdNumber}"></span><br/>
    <span>手機號碼:</span><span th:text="${attendeesVO.attendeesPhone}"></span><br/>
    <span>E-mail:</span><span th:text="${attendeesVO.attendeesEmail}"></span><br/>
</div>

</body>
</html>