<div th:replace="~{/back_end/include/include_top}" xmlns="http://www.w3.org/1999/html"></div>
<title>編輯活動參加人員資料</title>

<style>

</style>
</head>
<body>
<div th:replace="~{/back_end/include/include_body}"></div>
<div class="unique">
    <div>
        <h2 class="hc-2">活動參加人員編號&nbsp;<span th:text="${attendeesVO.activityAttendeesId}"></span>&nbsp;資料</h2>
    </div>

    <div>

        <form th:action="@{update}" method="post" th:object="${attendeesVO}" enctype="multipart/form-data">
            <div class="mb-4">
                <div class="mb-4">
                    <h5 class="f-w">活動訂單編號 <span class="require_text">(必選)</span></h5>
                </div>
                <select class="selectric2 required-field" th:field="*{activityOrderVO.activityOrderId}" required>
                    <option value="">請選擇</option>
                    <option th:each="activityOrderVO : ${activityOrderListData}"
                            th:value="${activityOrderVO.activityOrderId}"
                            th:text="${activityOrderVO.activityOrderId}"/>
                </select>
                <div class="error2" id="activitySelectError" >活動訂單編號必須擇一喔&nbsp;<i class="fa-solid fa-circle-exclamation" style="color: #dc3545;"></i></div>
<!--                <div th:if="${#fields.hasErrors('activityOrderVO.activityOrderId')}"-->
<!--                     class="error"-->
<!--                     id="activityOrderVO.activityOrderId.errors">-->
<!--                    <span th:errors="*{activityOrderVO.activityOrderId}"></span>-->
<!--                    <i class="fa-solid fa-circle-exclamation" style="color: #dc3545;"></i>-->
<!--                </div>-->

            </div>
            <div class="mb-4">
                <div class="mb-4">
                    <h5 class="f-w">參加人員姓名 <span class="require_text">(必填)</span></h5>
                </div>
                <input type="text" class="form_element" th:field="*{attendeesName}"
                       onclick="hideContent('attendeesName.errors');"/>
                <div th:if="${#fields.hasErrors('attendeesName')}" class="error" id="attendeesName.errors">
                    <span th:errors="*{attendeesName}"></span>
                    <i class="fa-solid fa-circle-exclamation" style="color: #dc3545;"></i>
                </div>
            </div>
            <div class="mb-4">
                <div class="mb-4">
                    <h5 class="f-w">性別 </h5>
                </div>
                <div class="rad">
                    <input class="rad-2" type="radio" th:field="*{memberGender}" th:value="0" />男
                    <input class="rad-1" type="radio" th:field="*{memberGender}" th:value="1" />女
                    <input class="rad-1" type="radio" th:field="*{memberGender}" th:value="2" />其他
                </div>
            </div>


<!--            <div>-->
<!--                <label>性別:</label>-->
<!--                <input type="radio" th:field="*{memberGender}" th:value="0"-->
<!--                       onclick="hideContent('memberGender.errors');"/>男-->
<!--                <input type="radio" th:field="*{memberGender}" th:value="1"-->
<!--                       onclick="hideContent('memberGender.errors');"/>女-->
<!--                <input type="radio" th:field="*{memberGender}" th:value="2"-->
<!--                       onclick="hideContent('memberGender.errors');"/>其他-->
<!--                <span th:if="${#fields.hasErrors('memberGender')}" th:errors="*{memberGender}" class="error"-->
<!--                      id="memberGender.errors"></span>-->
<!--            </div>-->
            <div class="mb-4">
                <div class="mb-4">
                    <h5 class="f-w">身份證字號 <span class="require_text">(必填)</span></h5>
                </div>
                <input type="text" class="form_element" th:field="*{attendeesIdNumber}"
                       onclick="hideContent('attendeesIdNumber.errors');"/>
                <div th:if="${#fields.hasErrors('attendeesIdNumber')}" class="error" id="attendeesIdNumber.errors">
                    <span th:errors="*{attendeesIdNumber}"></span>
                    <i class="fa-solid fa-circle-exclamation" style="color: #dc3545;"></i>
                </div>
            </div>
            <div class="mb-4">
                <div class="mb-4">
                    <h5 class="f-w">手機號碼 <span class="require_text">(必填)</span></h5>
                </div>
                <input type="text" class="form_element" th:field="*{attendeesPhone}"
                       onclick="hideContent('attendeesPhone.errors');"/>
                <div th:if="${#fields.hasErrors('attendeesPhone')}" class="error" id="attendeesPhone.errors">
                    <span th:errors="*{attendeesPhone}"></span>
                    <i class="fa-solid fa-circle-exclamation" style="color: #dc3545;"></i>
                </div>
            </div>
            <div class="mb-4">
                <div class="mb-4">
                    <h5 class="f-w">E-mail <span class="require_text">(必填)</span></h5>
                </div>
                <input type="text" class="form_element" th:field="*{attendeesEmail}"
                       onclick="hideContent('attendeesEmail.errors');"/>
                <div th:if="${#fields.hasErrors('attendeesEmail')}" class="error" id="attendeesEmail.errors">
                    <span th:errors="*{attendeesEmail}"></span>
                    <i class="fa-solid fa-circle-exclamation" style="color: #dc3545;"></i>
                </div>
            </div>
            <br>
            <div>
                <div class="btn_area">

                    <button type="button" class="btn btn-secondary cu-2"
                            onclick="window.location.href='/attendees/listAllAttendees'">返回
                    </button>
                    <button type="submit" id="submit" class=" btn btn-outline-success2 cu-2"> 編輯完成</button>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- JavaScript part -->
<script type="text/javascript">
    //清除提示信息
    function hideContent(d) {
        document.getElementById(d).style.display = "none";
    }

    $(document).ready(function () {
        $('#submit').click(function (event) {
            let isValid = true;
            const requiredFields = $('.required-field');
            const errorElement = $('#activitySelectError');

            requiredFields.each(function () {
                if ($(this).val() === '') {
                    isValid = false;
                    errorElement.show();
                    $(this).focus();
                    return false; // 退出循环
                } else {
                    errorElement.hide();
                }
            });

            if (!isValid) {
                event.preventDefault(); // 防止提交
            }
        });

        $('.required-field').on('input', function () {
            const errorElement = $('#activitySelectError');
            if ($(this).val() !== '') {
                errorElement.hide();
            }
        });
    });

</script>
<div th:replace="~{/back_end/include/include_bottom}"></div>