<!DOCTYPE html>

<html   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta>
<title>凱克特司員工後台登入系統</title>

<!--recaptcha checking -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!--Google Login-->
<script src="https://accounts.google.com/gsi/client" async defer></script>


<!-- Font Icon -->
<link rel="stylesheet" th:href="@{/fonts/front_end/member/icon/css/material-design-iconic-font.min.css}">

<!-- Main css -->
<link rel="stylesheet" th:href="@{/css/front_end/member/member.css}">

<style>
    div.error{
        color: red;
        position:relative;
    }
    
    img{
    	width:150px;
    	height:150px;
    }
    .GoogleLogin{
    margin-top:20px;
    display:inline-block;
    }
    
    div.form-button{
    	display:inline-block;
    	width:130px;
    }
    
    a.signup-image-link{
    	display:inline-block;
    	width:200px;
    	text-align:left;
    }
    
    div.container{
    	width:450px;
    	height:568px;
    	
    }
</style>

</head>


<body>

<input type="hidden" id="status" th:value="${status}">


	<div class="main">

		<!-- Sing in  Form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
<!-- 					<div class="signin-image"> -->
<!-- 						<figure> -->
<!-- 							<img th:src="@{/img/front_end/member/icons/LOGO.png}" alt="sing up image"> -->
<!-- 						</figure> -->
<!-- 						<br> -->
<!-- 						<br> -->
						
<!-- 					</div> -->

					<div class="signin-form">
						<h2 class="form-title">凱克特司員工後台登入系統</h2>
						
						<form method="post" th:action="@{/admin/adminLogin}" class="register-form" 
							id="login-form">
							
							<div class="form-group">
								<label for="adminAccount"><i class="zmdi zmdi-account material-icons-name"></i></label> 
								<input type="text" required name="adminAccount" placeholder="請輸入帳號..."><br>
							</div>
							
							<div class="form-group">
								<label for="adminPassword"><i class="zmdi zmdi-lock"></i></label> 
								<input type="password" required name="adminPassword" placeholder="請輸入密碼..."><br>
							</div>
							

							<div class="form-group form-button">
								<input type="submit" name="signin" id="signin" class="form-submit" value="登入" />
							</div>
							
							<a th:href="@{/admin/adminRegistory}" class="signup-image-link">註冊員工</a>				
							
						</form>

						
	
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- JS -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script th:src="@{/js/front_end/member/memberLogin.js}"></script>
	
	<script>

		var status = $("#status").val();
		
		
		if(status == "success"){
			swal("成功","您已成功註冊!","success");
			status = "";
		}else if (status == "failed"){
			swal("錯誤","帳號或密碼錯誤，請再試一次!","error");
			status = ""; 
		}else if (status == "wrong"){
			swal("錯誤!","查無此帳號,請進行註冊!","error");
			status = "";
		}else if(status == "reject"){
			swal("錯誤!","此帳號已被停權!請聯繫最高管理員!","error");
			status = "";
		}
		

	</script>
	
	
</body>
</html>