<div th:replace="~{/back_end/include/include_top}"></div>

<style>

</style>
</head>
<body>

	<div th:replace="~{/back_end/include/include_body}"></div>
	
		
	<!-- =========================================================================================== -->
	
	
	<!-- 主欄位 -->
	<div class="unique">
			
		<h2>這裡是凱克特司後台員工首頁</h2>
		
		<br>
		
		<span>目前登入員工:<span th:text="${session.adminVO.adminName}"></span></span>
		
		<br>
		
		<p>好好上班，不要偷懶。</p>
	</div>



<div th:replace="~{/back_end/include/include_bottom}"></div>