<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Arkitektur - Architecture HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.icon" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Pridi:wght@600&display=swap"
          rel="stylesheet">

    <!-- Tac One -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap" rel="stylesheet">


    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/js/room/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/js/room/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/js/room/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/js/room/bootstrap.min.css" rel="stylesheet">
    <!--    Phone-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" />

    <link th:href="@{/css/front_end/room/style.css}" rel="stylesheet">


</head>

<style>

    .RO-container {
        max-width: 1200px;
        padding: 20px;
        border: 1.5px solid #f98267;
        border-radius: 10px;
        margin: 40px 40px;
    }

    .reservation-header {
        margin-bottom: 18px;
        margin-left: 80px;
    }

    .reservation-options {
        display: flex;
        justify-content: space-between;
    }

    .room-info {
        width: 60%;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    .room-info h4 {
        margin-bottom: 20px;
    }

    .room-info-container > div {
        margin-top: 14px;
        flex: 1;
    }

    .room-info .btn-group button {
        margin: 0 5px;
    }

    .charges-container {
        width: 35%;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    .charges-container h4 {
        margin-bottom: 30px;
    }

    .charges-container ul {
        list-style: none;
        width: 320px;
        padding: 20px;
        margin: 30px 40px 60px 30px;
        font-size: 16px;
    }

    .charges-container ul li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .special-requests h4 {
        margin-bottom: 20px;
    }

    .room-info-content div {
        margin-right: 30px;
    }

    .ROdetail-container {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin-top: 8px;
    }

    .ROdetail-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;

    }


    .ROdetail-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 160px;
        padding-top: 20px;
    }

    .order-button{
        background-color: #f98267;
        color: white;
        border: none;
        padding: 7px 30px;
        border-radius: 4px;
        transition: background-color 0.3s ease;;
    }

    .order-button:hover {
        background-color: #f7a492;
    }

</style>


    <body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
        <img class="position-absolute top-50 start-50 translate-middle" src="//icons/icon-12.png" alt="Icon">
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid green-bg p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <!-- <div class="h-100 d-inline-flex align-items-center py-3 me-3"> -->
                <!-- <a class="text-body px-2" href="tel:+0123456789"><i class="fa fa-phone-alt text-white me-2"></i>+012 345 6789</a>
                <a class="text-body px-2" href="mailto:info@example.com"><i class="fa fa-envelope-open text-gold me-2"></i>info@example.com</a> -->
                <!-- </div> -->
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-2">
                    <a class="text-white px-2" href="">English ｜</a>
                    <a class="text-white px-2" href="">日本語 ｜</a>
                    <a class="text-white px-2" href="">加入會員</a>

                </div>
                <!-- <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-0" href=""><i class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text2-primary2 m-0"><img class="me-1" th:src="@{/img/activities/icons/LOGO.png}" alt="Icon"><img class="me-3"
              th:src="@{/img/activities/cactus_name2.png}" alt="Name"></h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <!-- 原本輸入內容:Home -->

                <a href="index.html" class="nav-item nav-link active">最新消息</a>
                <div class="nav-item dropdown">
                    <!-- 原本輸入內容:Pages -->
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">關於我們</a>
                    <div class="dropdown-menu border-0 m-0">
                        <a href="feature.html" class="dropdown-item">凱克特司</a>
                        <a href="project.html" class="dropdown-item">周邊特色</a>
                        <a href="team.html" class="dropdown-item">常見問題</a>
                        <!-- <a href="appointment.html" class="dropdown-item">Appointment</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Page</a> -->
                    </div>
                </div>
                <!-- 原本輸入內容:About，要改成下拉式選單 -->
                <a href="about.html" class="nav-item nav-link">房型介紹</a>
                <div class="dropdown-menu border-0 m-0">
                    <!-- <a href="feature.html" class="dropdown-item">緣起</a>
                    <a href="project.html" class="dropdown-item">特色設施</a>
                    <a href="testimonial.html" class="dropdown-item">交通資訊</a>

                    <a href="team.html" class="dropdown-item">周邊景點</a>
                    <a href="appointment.html" class="dropdown-item">周邊美食</a>

                    <a href="404.html" class="dropdown-item">常見問題(聯絡我們)</a> -->
                </div>
                <!-- 原本輸入內容:Services -->
                <a href="service.html" class="nav-item nav-link">特色活動</a>

                <!-- 原本輸入內容:Contact -->
                <a href="contact.html" class="nav-item nav-link"><i class="fa-solid fa-cart-shopping" me-2
                                                                    style="color: #01b2a6;"></i> 購物商城</a>
            </div>
            <!-- 原本輸入內容:Appointment -->
            <a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block"><i class="fa-solid fa-calendar-days" me-2
                                                                              style="color: #f2f1f1;"></i> 線上訂房</a>

        </div>
    </nav>
    <!-- Navbar End -->

    <div class="RO-container">
        <form th:action="@{/roomOrder/roomOrderTotalList}" method="post">
            <div id="orderRoomType" class="reservation-header">
                <h3 th:text="${roomTypeName}"></h3>
                <input type="hidden" th:value="${roomTypeName}" name="roomTypeName">
            </div>
        <div class="reservation-options">
            <div class="room-info" >
                <h5>輸入訂購人資料</h5>
                <div style=" margin-top: 18px;">
                    <div >
                        <span >會員姓名:&nbsp;&emsp;</span>
                        <input type="text" th:value="${memberVO.getMemberName()}">
                    </div>
                    <div style=" margin-top: 18px;">
                        <span >電子信箱:&nbsp;&emsp;</span>
                        <input type="email" th:value="${memberVO.getEmail()}" name="emails">
                    </div>
                    <div style=" margin-top: 18px; height: 30px">
                        <span >請輸入電話:&nbsp;</span>
                        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  >
                    </div>
                    <div class="ROdetail-container">
                        <div class="ROdetail-left">
                            <div id="orderCount">
                                入住人數:<span th:text="${roomGuestAmount}" name="roomGuestAmount" ></span>位
                                <input type="hidden" th:value="${roomGuestAmount}" name="roomGuestAmount">
                            </div>
                            <div id="orderSize">
                                Size: <span th:text="${roomSize}" name="roomSize"></span>
                                <input type="hidden" th:value="${roomSize}" name="roomSize">
                            </div>
                        </div>
                        <div class="ROdetail-right">
                            <div>
                                <p><strong>Check-in時間 當日14:00~23:00</strong></p>
                            </div>
                            <div>
                                <p><strong>Check-out時間 隔日13:00以前</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="btn-group" style="margin: 5px;text-align: center;">
                            <label ><strong >促銷優惠:</strong></label>
                                <div >
                                    <select class="btn btn-outline-dark" style="margin-left: 20px; width: 300px; background: white; color: black" id="roomDiscount" th:onchange="updateDiscountRight()">
                                        <option>當季優惠活動</option>
                                        <th:block th:each="roomPromotionVO : ${roomPromotionVO}" >
                                            <option th:text="${#strings.length(roomPromotionVO.getPromotionTitle()) > 20 ?
                                            #strings.substring(roomPromotionVO.getPromotionTitle(), 0, 20) + '...' :
                                            roomPromotionVO.getPromotionTitle()}"
                                                    th:value="${roomPromotionVO.getPromotionDiscount()}" name=" "></option>
                                        </th:block>
                                    </select>
                                </div>
                        </div>
                        <small class="form-text text-muted" style="margin-left: 100px">(優惠活動詳情請至首頁參考</small>
                    </div>

                    <div class="special-requests">
                        <h5>特殊需求</h5>
                        <p>如果您需要加床，請在「額外要求」下註明。請注意，特殊要求會根據現場情況做調整並可能收取額外費用</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="extraBed"style="margin-left: 1px">
                            <label class="form-check-label" for="extraBed" style="margin-left: 22px">額外加床</label>
                            <input class="form-check-input" type="checkbox" value="" id="airportTransfer" style="margin-left: 20px">
                            <label class="form-check-label" for="extraBed" style="margin-left: 42px">機場專車接送</label>
                        </div>
                        <textarea class="form-control" id="specialRequests" rows="3" placeholder="例如: 需要機場專車接送"></textarea>
                    </div>
                </div>
            </div>
            <div class="charges-container">
                <h4>Room charge</h4>
                    <ul>
                        <li><span>CheckIn日期:</span><span th:text="${selectCheckIn}" name="selectCheckIn"></span></li>
                        <li><span>CheckOut日期:</span><span th:text="${selectCheckOut}" name="selectCheckOut"></span></li>
                        <li><span>訂單金額</span><span id="roomAmount" th:text="${roomPrice}">
                            <input type="hidden" th:value="${roomPrice}" name="roomPrice">
                        </span></li>
                        <li><strong>折扣優惠</strong>&ensp;&nbsp;&ensp;&ensp;<span id="discountRight" ></span></li>
                        <li><span>折扣金額</span>&nbsp<span id="promotionPrice" name="promotionPrice">
                            <input type="hidden" th:value="${roomSize}" name="roomSize">
                        </span>TW</li>
                        <li><strong>合計金額</strong>&nbsp<span id="payAmount"></span>TW</li>
                        <li><span ></span></li>
                        <input type="submit" id="modify-search" value="送出訂單">
                    </ul>
                </div>
            </div>
        </form>
    </div>

        <!-- Room Information Section -->







        <!-- Footer Start -->
        <div>
            <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

        <dotlottie-player src="https://lottie.host/fc43b16a-af6f-4e58-bdbd-d96737e15241/cVR7NJdBCO.json" background="transparent" speed="1" style="max-width:100%;" loop autoplay></dotlottie-player> -->


            <script
                    src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                    type="module"
            ></script>
            <dotlottie-player
                    src="https://lottie.host/d5c4ce3c-dc9c-4472-a042-082ebdf05872/kzl7Q2a4za.json"
                    background="transparent"
                    speed="0.4"
                    style="max-width: 100%; margin-bottom: -1px"
                    direction="1"
                    playMode="normal"
                    loop
                    autoplay
            ></dotlottie-player>

            <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

            <dotlottie-player src="https://lottie.host/777a5b5d-529f-4364-9495-d65d0970a84e/Ba7LUIIk0J.json" background="transparent" speed="1" style="max-width:100% ;" loop autoplay></dotlottie-player>   -->

            <!--test-->

            <!-- <dotlottie-player src="https://lottie.host/efcbfecd-cae9-4698-9447-d2c691244d5c/tEiGA0EIx5.json"round="transparent" speed="0.5" style="wi backgdth: 1200px; height: 300px;" loop autoplay></dotlottie-player> -->
            <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> -->
        </div>

        <div class="container-fluid text-body footer pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">


            <div class="container py-5">
                <div class="row g-5">

                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-darkblue mb-4">最新消息</h3>
                        <a class="btn btn-link text-primary5" href="">所有公告</a>
                        <a class="btn btn-link text-primary5" href="">住宿優惠</a>
                        <a class="btn btn-link text-primary5" href="">商城優惠</a>
                        <a class="btn btn-link text-primary5" href="">活動優惠</a>
                        <!-- <a class="btn btn-link" href="">Construction</a> -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-darkblue mb-4">房型介紹</h3>
                        <a class="btn btn-link text-primary5" href="">AAA套房</a>
                        <a class="btn btn-link text-primary5" href="">BBB套房</a>
                        <a class="btn btn-link text-primary5" href="">CCC套房</a>
                        <a class="btn btn-link text-primary5" href="">DDD套房</a>
                        <!-- <a class="btn btn-link" href="">Support</a> -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-darkblue mb-4">特色活動</h3>
                        <a class="btn btn-link text-primary5" href="">浮潛</a>
                        <a class="btn btn-link text-primary5" href="">SUP立槳衝浪</a>
                        <a class="btn btn-link text-primary5" href="">寬板滑水</a>
                        <a class="btn btn-link text-primary5" href="">淺灘衝浪</a>
                        <a class="btn btn-link text-primary5" href="">仙人掌園區參觀</a>
                    </div>
                    <!-- <div class="col-lg-3 col-md-6">
                        <h3 class="text-light mb-4">Newsletter</h3>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                    </div> -->

                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-darkblue mb-4">聯絡我們</h3>
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary5 me-2"></i>地址：澎湖縣馬公市時裡200號
                        </p>
                        <p class="mb-2"><i class="fa fa-phone-alt text-primary5 me-2"></i>訂房專線：06-2345678 #888
                        </p>
                        <p class="mb-2"><i class="fa fa-envelope text-primary5 me-2"></i>cactus@gmail.com</p>
                        <!-- <div class="d-flex pt-2">
                            <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-outline-body me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container-fluid copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a href="#">2024 Cactus Resort Hotel 凱克特司渡假村</a>, All Right Reserved.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            <!-- Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br> Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <script>

        $(document).ready(function() {
            var input = document.querySelector("#phone");
            window.intlTelInput(input, {
                initialCountry: "auto",
                geoIpLookup: function(callback) {
                    $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                        var countryCode = (resp && resp.country) ? resp.country : "us";
                        callback(countryCode);
                    });
                },
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js"
            });
        });


        document.addEventListener('DOMContentLoaded', function() {
            const checkboxBed = document.getElementById('extraBed');
            const checkboxTransfer = document.getElementById('airportTransfer');
            const textarea = document.getElementById('specialRequests');

            checkboxBed.addEventListener('change', function() {
                if (this.checked) {
                    textarea.value += (textarea.value ? "\n" : "") + "需要額外加床";
                }
            });

            checkboxTransfer.addEventListener('change', function() {
                if (this.checked) {
                    textarea.value += (textarea.value ? "\n" : "") + "需要機場專車接送";
                }
            });
        });


        document.addEventListener('DOMContentLoaded', (event) => {
            const roomTypeName = sessionStorage.getItem('roomTypeName');
            const roomGuestAmount = sessionStorage.getItem('roomGuestAmount');
            const roomSize = sessionStorage.getItem('roomSize');
            const checkInDate = sessionStorage.getItem('checkInDate');
            const checkOutDate = sessionStorage.getItem('checkOutDate');
            const roomPrice = sessionStorage.getItem('roomPrice');

            document.getElementById('roomType').textContent = roomTypeName;
            document.getElementById('roomGuestAmount').textContent = roomGuestAmount;
            document.getElementById('roomSize').textContent = roomSize;
            document.getElementById('checkInDate').textContent = checkInDate;
            document.getElementById('checkOutDate').textContent = checkOutDate;
            document.getElementById('roomPrice').textContent = roomPrice;
        });

        function updateDiscountRight() {
            var roomDiscount = parseFloat(document.getElementById("roomDiscount").value) || 0;
            var roomAmount = parseFloat(document.getElementById("roomAmount").textContent) || 0;

            var discountRightValue = (Math.floor(roomDiscount * 10) + '折優惠');
            if (roomDiscount === 0) {
                document.getElementById("discountRight").style.display = 'none';
            } else {
                document.getElementById("discountRight").textContent = discountRightValue;
                document.getElementById("discountRight").style.display = 'block';
            }
            // 计算折扣金额和合计金额
            var promotionPrice = roomAmount * (roomDiscount / 10);
            var payAmount = roomAmount - promotionPrice;

            // 更新相应的元素，不显示小数点
            document.getElementById("promotionPrice").textContent = Math.floor(promotionPrice);
            document.getElementById("payAmount").textContent = Math.floor(payAmount);
        }

        // 初始化时更新折扣优惠
        document.addEventListener("DOMContentLoaded", function() {
            updateDiscountRight();
        });

    </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/room/lib/wow/wow.min.js"></script>
    <script src="/js/room/lib/easing/easing.min.js"></script>
    <script src="/js/room/lib/waypoints/waypoints.min.js"></script>
    <script src="/js/room/lib/counterup/counterup.min.js"></script>
    <script src="/js/room/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/room/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/js/room/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Template Javascript -->
    <script src="/js/room/main.js"></script>
    <!-- Kit Icon -->
    <script src="https://kit.fontawesome.com/8366d3754a.js" crossorigin="anonymous"></script>
    <!--    Phone-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js"></script>

    </body>
</html>