<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Arkitektur - Architecture HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.icon" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Pridi:wght@600&display=swap"
          rel="stylesheet">

    <!-- Tac One -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap" rel="stylesheet">


    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/js/room/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/js/room/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/js/room/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/js/room/bootstrap.min.css" rel="stylesheet">

    <link th:href="@{/css/front_end/room/style.css}" rel="stylesheet">


</head>


<style>

    .booking-form{
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;

    }

    .dateFormFst, .dateFormSec {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        width: 80%;
        max-width: 1300px;
    }

    #room-checkOut, #room-checkIn {
        border: 1px solid #f98267;
        padding: 12px 30px;
        margin-right: 30px;
        font-size: 18px;
        color: #666;

    }

    .roomType-select {
        width: 190px;
        margin-right: 27px;
        margin-left: 60px;
        font-size: 18px;
        Font-weight: 600;
        padding: 12px 5px 12px 31px;
        border: 1px solid #f98267;
        background: white !important;
    }

    #modify-search {
        background-color: #f98267;
        color: white;
        border: none;
        padding: 7px 25px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    #modify-search:hover {
        background-color: #f7a492;
    }

    .hotel-info h1 {
        font-size: 24px;
        font-weight: normal;
        margin-left: 10px;
    }

    .hotel-details .separator {
        margin: 0 15px;
        font-size: 22px;
        color: #ccc;
    }

    .roomIntro{
        display: flex;
        justify-content: center;
        height: 35vh;
        background: #f0f0f0;
        margin-top: 30px;
        border-radius: 10px;

    }

    .roomBack{
        background: #f9f9f9;
        padding: 60px 20px;
        border: 1.5px solid #f98267;
        box-shadow: 0 4px 6px rgba(0,0,0,0.3);
        width: 90%;
        max-width: 1000px;
        text-align: left;
        margin-top: 30px;
        border-radius: 6px;
        position: relative;
        }

        .room-button{
            background-color: #f98267;
            color: white;
            border: none;
            padding: 7px 30px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;;
            position: absolute;
            right: 26px;
            bottom: 20px;
        }

        .room-button:hover {
            background-color: #f7a492;
        }

    .roomTypeName {
        font-size: 26px;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: absolute;
        left: 25px;
        top: 26px;
    }

    .bed-icon {
        width: 20px;
        height: 20px;
        margin: 2px;
    }

    .roomPrice {
        padding: 9px 20px;
        background-color: #B8A68C;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: 4px;
        position: absolute;
        right: 180px;
        bottom: 20px;
    }

    .roomAmount{
        border: 1px solid #f98267;
        padding: 14px 10px 15px 0px;
        margin-right: 30px;
        font-size: 16px;
        color: #666;
        text-align: center;

    }
</style>


    <body>
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
        <img class="position-absolute top-50 start-50 translate-middle" th:src="@{/img/front_end/index/icons/icon-12.png}"
             alt="Icon">
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid green-bg p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">

            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-2">
                    <th:block th:if="${session.memberVO}">
                        <img th:src="@{/member/ShowPic} + '?memberId=' + ${session.memberVO.memberId}" width="35px"
                             height="35px">
                        &nbsp;&nbsp;<span class="text-white px-2" th:text="${session.memberVO.memberName}"></span>
                    </th:block>
                    <a class="text-white px-2" th:href="@{/admin/adminLogin}">｜ English ｜</a>
                    <!--                <a class="text-white px-2" th:href="@{/member/memberOnlyWeb}">會員中心</a>-->
                    <div class="dropdown">
                        <a class="text-white px-2 dropdown-toggle" href="#" role="button" id="memberDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            會員中心
                        </a>
                        <ul class="dropdown-menu dropdown-menu-green" aria-labelledby="memberDropdown">
                            <li><a class="dropdown-item" th:href="@{/member/memberRegistory}">會員註冊</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="/" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text2-primary2 m-0"><img class="me-1" th:src="@{/img/front_end/index/icons/LOGO.png}" alt="Icon"><img
                    class="me-3" th:src="@{/img/front_end/index/cactus_name2.png}" alt="Name"></h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <!-- 原本輸入內容:Home -->
                <a href="#" class="nav-item nav-link active">最新消息</a>
                <div class="nav-item dropdown">
                    <!-- 原本輸入內容:Pages -->
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">關於我們</a>
                    <div class="dropdown-menu border-0 m-0">
                        <a th:href="@{/about_cactus}" class="dropdown-item">凱克特司</a>
                        <!--                     <a href="project.html" class="dropdown-item">周邊特色</a> -->
                        <a th:href="@{/contactus_cactus}" class="dropdown-item">常見問題</a>
                    </div>
                </div>
                <!-- 原本輸入內容:About，要改成下拉式選單 -->
                <a th:href="@{/roomType/roomTypeFront}" class="nav-item nav-link">房型介紹</a>
                <div class="dropdown-menu border-0 m-0">
                    <!-- <a href="feature.html" class="dropdown-item">緣起</a>
                    <a href="project.html" class="dropdown-item">特色設施</a>
                    <a href="testimonial.html" class="dropdown-item">交通資訊</a>

                    <a href="team.html" class="dropdown-item">周邊景點</a>
                    <a href="appointment.html" class="dropdown-item">周邊美食</a>

                    <a href="404.html" class="dropdown-item">常見問題(聯絡我們)</a> -->
                </div>

                <a th:href="@{/activity/activityPhoto}" class="nav-item nav-link">特色活動</a>
                <a th:href="@{/product/listAllProduct}" class="nav-item nav-link shoppingCart"><i
                        class="fa-solid fa-cart-shopping" me-2
                        style="color: #01b2a6;"></i> 購物商城</a>
            </div>

            <a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block"><i class="fa-solid fa-calendar-days" me-2
                                                                              style="color: #f2f1f1;"></i> 線上訂房</a>

        </div>
    </nav>
    <!-- Navbar End -->
    <div>
        <hr class="col-lg-12" style="height: 2px; color: gray">
        <div class="booking-form">
            <form class="dateFormFst" th:action="@{/roomType/selectRoomType}" method="post">
                <select class="form-control roomType-select" name="roomTypeName" id="roomType">
<!--                    <option disabled selected>選擇房型</option>-->
<!--                    <option th:value="${roomTypeName}"></option>-->
                </select>
                <div class="date-checkIn">
                    <input type="date" id="room-checkIn" th:value="${selectCheckIn}" name="selectCheckIn">
                </div>
                <div class="date-checkOut">
                    <input type="date" id="room-checkOut" th:value="${selectCheckOut}" name="selectCheckOut">
                </div>
                <label>
                    <select class="roomAmount" id="roomAmount" name="roomGuestAmount">
                        <option th:value="${roomGuestAmount}" disabled selected>選擇房間人數</option>
                    </select>
                </label>
                <div>
                    <input type="submit" id="modify-search" value="更改時間">
                </div>
            </form>
        </div>
        <hr class="col-lg-12" style="height: 2px; color: gray">
    </div>


            <!--                    進度條                 -->
<!--    <div class="progress-container">-->
<!--        <div class="progress-step completed">-->
<!--            <div class="step-number">1</div>-->
<!--            <div class="step-label">Select hotel</div>-->
<!--        </div>-->
<!--        <div class="progress-line completed"></div>-->
<!--        <div class="progress-step current">-->
<!--            <div class="step-number">2</div>-->
<!--            <div class="step-label">Select room</div>-->
<!--        </div>-->
<!--        <div class="progress-line"></div>-->
<!--        <div class="progress-step">-->
<!--            <div class="step-number">3</div>-->
<!--            <div class="step-label">Special Request</div>-->
<!--        </div>-->
<!--        <div class="progress-line"></div>-->
<!--        <div class="progress-step">-->
<!--            <div class="step-number">4</div>-->
<!--            <div class="step-label">Reservation Details</div>-->
<!--        </div>-->
<!--    </div>-->
                 <!----------------房間說明------------------->

    <div th:if="${#lists.isEmpty(selectRoom)}" class="roomIntro">
        <h4>符合您時段的房間暫無空房</h4>
    </div>
    <div th:each="roomTypeVO : ${selectRoom}" class="roomIF" th:if="${not #lists.isEmpty(selectRoom)}">
        <div class="roomIntro">
            <div class="roomBack">
                    <h1 th:text="${roomTypeVO[0]}" class="roomTypeName" id="PageRTName">
<!--                        <span class="arrow"></span>-->
                    </h1>
                    <div><img th:src="@{/img/front_end/room/beach.png}" style="width: 220px;position: absolute;right: 2px;top: 0px; opacity:0.1"></div>
                    <div class="hotel-details" style="margin-top: 16px;margin-left: 17px; font-size: 19px; color: #4F4F4F;">
                        <span class="PageRTBed">
                            <span th:text="${roomTypeVO[3] / 2} + ' 張特大雙人床'"></span>
                            <span th:each="i : ${#numbers.sequence(1, roomTypeVO[3] / 2)}">
                                <img th:src="@{/img/front_end/room/double-bed.png}" class="bed-icon" alt="Double Bed">
                            </span>
                            <span th:if="${roomTypeVO[3] % 2 != 0}">
                               <img th:src="@{/img/front_end/room/single-bed.png}" class="bed-icon" alt="Single Bed">
                            </span>
                        </span>
                        <span class="separator">|</span>
                        <span class="roomGuestAmount">
                            <span th:each="i : ${#numbers.sequence(1, roomTypeVO[3])}">
                                <img th:src="@{/img/front_end/room/peoplecount.png}" style="width: 16px;height: 16px" alt="Guest">
                            </span>
                        </span>
                        <span class="separator">|</span><br>
                        <div class="PageRTSize">
                            Size:<span th:if="${roomTypeVO[3] == 2}">55~60 ㎡</span>
                            <span th:if="${roomTypeVO[3] == 4}">80~90 ㎡</span>
                            <span th:if="${roomTypeVO[3] == 6}">140~150 ㎡</span>
                        </div>
                        <div style="margin-top: 10px; font-size: 14px">
                            <img th:src="@{/img/front_end/room/check.png}" style="width: 15px; height: 15px">&ensp;浴缸&淋浴
                            <img th:src="@{/img/front_end/room/check.png}" style="width: 15px; height: 15px">&ensp;免費盥洗用品
                            <img th:src="@{/img/front_end/room/check.png}" style="width: 15px; height: 15px">&ensp;咖啡沖泡設備
                            <img th:src="@{/img/front_end/room/check.png}" style="width: 15px; height: 15px">&ensp;簡易廚房
                        </div>
<!--                        <div>-->
<!--                            <img th:src="@{/img/front_end/room/aquatic.png}" style="width: 70px;position: absolute;right: 350px;bottom: 5px; opacity:0.1">-->
<!--                        </div>-->
                        <span th:text="'NTD ' + ${roomTypeVO[2]} + ' $'" id="roomPrice" class="roomPrice"></span><br>
                        <div>
                            <form class="dateFormSec" id="dateFormSec" th:action="@{/roomPromotion/OrderList}" method="POST" onsubmit="storeRoomData(this); return true;">
                                <input type="hidden" name="roomTypeName"  th:value="${roomTypeVO[0]}" id="hiddenRoomTypeName">
                                <input type="hidden" name="roomGuestAmount" th:value="${roomTypeVO[3]}" id="hiddenRoomGuestAmount">
                                <input type="hidden" name="roomSize" th:if="${roomTypeVO[3] == 2}" value="55~60 ㎡" id="hiddenRoomSizeS">
                                <input type="hidden" name="roomSize" th:if="${roomTypeVO[3] == 4}" value="80~90 ㎡" id="hiddenRoomSizeM">
                                <input type="hidden" name="roomSize" th:if="${roomTypeVO[3] == 6}" value="140~150 ㎡" id="hiddenRoomSizeL">
                                <input type="hidden" name="roomAmount" th:value="${roomTypeVO[2]}" id="hiddenRoomPrice">
                                <input type="hidden" name="selectCheckIn" id="selectCheckIn">
                                <input type="hidden" name="selectCheckOut" id="selectCheckOut">
                                <input type="hidden" name="roomTypeId" th:value="${roomTypeVO[1]}">
                                <button type="button" class="room-button roomFormButton">預定房間</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>








        <!-- Footer Start -->
        <div>
            <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

        <dotlottie-player src="https://lottie.host/fc43b16a-af6f-4e58-bdbd-d96737e15241/cVR7NJdBCO.json" background="transparent" speed="1" style="max-width:100%;" loop autoplay></dotlottie-player> -->


            <script
                    src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                    type="module"
            ></script>
            <dotlottie-player
                    src="https://lottie.host/d5c4ce3c-dc9c-4472-a042-082ebdf05872/kzl7Q2a4za.json"
                    background="transparent"
                    speed="0.4"
                    style="max-width: 100%; margin-bottom: -1px"
                    direction="1"
                    playMode="normal"
                    loop
                    autoplay
            ></dotlottie-player>

            <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

            <dotlottie-player src="https://lottie.host/777a5b5d-529f-4364-9495-d65d0970a84e/Ba7LUIIk0J.json" background="transparent" speed="1" style="max-width:100% ;" loop autoplay></dotlottie-player>   -->

            <!--test-->

            <!-- <dotlottie-player src="https://lottie.host/efcbfecd-cae9-4698-9447-d2c691244d5c/tEiGA0EIx5.json"round="transparent" speed="0.5" style="wi backgdth: 1200px; height: 300px;" loop autoplay></dotlottie-player> -->
            <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> -->
        </div>

        <div class="container-fluid text-body footer pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">


            <div class="container py-5">
                <div class="row g-5">

                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-darkblue mb-4">最新消息</h3>
                        <a class="btn btn-link text-primary5" href="">所有公告</a>
                        <a class="btn btn-link text-primary5" href="">住宿優惠</a>
                        <a class="btn btn-link text-primary5" href="">商城優惠</a>
                        <a class="btn btn-link text-primary5" href="">活動優惠</a>
                        <!-- <a class="btn btn-link" href="">Construction</a> -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-darkblue mb-4">房型介紹</h3>
                        <a class="btn btn-link text-primary5" href="">AAA套房</a>
                        <a class="btn btn-link text-primary5" href="">BBB套房</a>
                        <a class="btn btn-link text-primary5" href="">CCC套房</a>
                        <a class="btn btn-link text-primary5" href="">DDD套房</a>
                        <!-- <a class="btn btn-link" href="">Support</a> -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-darkblue mb-4">特色活動</h3>
                        <a class="btn btn-link text-primary5" href="">浮潛</a>
                        <a class="btn btn-link text-primary5" href="">SUP立槳衝浪</a>
                        <a class="btn btn-link text-primary5" href="">寬板滑水</a>
                        <a class="btn btn-link text-primary5" href="">淺灘衝浪</a>
                        <a class="btn btn-link text-primary5" href="">仙人掌園區參觀</a>
                    </div>
                    <!-- <div class="col-lg-3 col-md-6">
                        <h3 class="text-light mb-4">Newsletter</h3>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                    </div> -->

                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-darkblue mb-4">聯絡我們</h3>
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary5 me-2"></i>地址：澎湖縣馬公市時裡200號
                        </p>
                        <p class="mb-2"><i class="fa fa-phone-alt text-primary5 me-2"></i>訂房專線：06-2345678 #888
                        </p>
                        <p class="mb-2"><i class="fa fa-envelope text-primary5 me-2"></i>cactus@gmail.com</p>
                        <!-- <div class="d-flex pt-2">
                            <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-outline-body me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container-fluid copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a href="#">2024 Cactus Resort Hotel 凱克特司渡假村</a>, All Right Reserved.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            <!-- Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br> Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        $(document).ready(function () {

            var session_acount="";
    	console.log("session_acount =" + session_acount);

            //查看session是否有存著account值
            $.ajax({
                url: '/member/getSessionAccount',
                type: 'GET',
                success: function(response) {

                    session_acount = response;
                console.log("response Session Account:", session_acount);
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                }
            });



            $(document).on("click",".roomFormButton",function(e){
                e.preventDefault();
                if ( session_acount!="" ) {
                    e.target.closest("form.dateFormSec").submit();


                } else {// 如果沒有值

                    var location = "/roomType/roomTypeFront";
                    var dataToSend = { location: location };

                    //將欲前往頁面存入供跳轉
                    $.ajax({
                        url: '/member/setLocation', // 替换成你的后端路由
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(dataToSend),
                        success: function(response) {
                            //確認是否儲存成功
//                         console.log("Location setting success", response);
                        },
                        error: function(xhr, status, error) {
                            console.error("Error:", error);
                        }
                    });

                    swal("請注意","您必須登入會員才能使用該功能，若您尚無會員請先進行註冊!","warning")

                        .then(function(){
                            window.location.href = '/member/memberLogin';
                        })
                }

            });
        });
    </script>


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            // 從 sessionStorage 獲取保存的數據
            const roomType = sessionStorage.getItem('roomType');
            const checkInDate = sessionStorage.getItem('checkInDate');
            const checkOutDate = sessionStorage.getItem('checkOutDate');
            const roomGuestAmount = sessionStorage.getItem('roomGuestAmount');

            // 如果有保存的房型，更新下拉選單
            if (roomType) {
                const roomTypeSelect = document.querySelector('.roomType-select');
                const option = document.createElement('option');
                option.value = roomType;
                option.textContent = roomType;
                option.selected = true;
                roomTypeSelect.appendChild(option);
            }

            // 如果有保存的日期，更新日期輸入框
            if (checkInDate) {
                document.getElementById('room-checkIn').value = checkInDate;
                $(document).find('input#selectCheckIn').val(checkInDate)
                // document.querySelectorAll('input#selectCheckIn').value = checkInDate;
            }
            if (checkOutDate) {
                document.getElementById('room-checkOut').value = checkOutDate;
                $(document).find('input#selectCheckOut').val(checkOutDate);
                // document.querySelectorAll('input#selectCheckOut').value = checkOutDate;
            }

            // 如果有保存的人數，更新下拉選單
            if (roomGuestAmount) {
                const roomAmountSelect = document.getElementById('roomAmount');
                const option = document.createElement('option');
                option.value = roomGuestAmount;
                option.textContent = `${roomGuestAmount}位`;
                option.selected = true;
                roomAmountSelect.appendChild(option);
            }

            // 監聽表單提交事件，保存數據到 sessionStorage
            const form = document.querySelector('.dateFormFst');
            form.addEventListener('submit', function (event) {
                const roomType = document.querySelector('.roomType-select').value;
                const checkInDate = document.getElementById('room-checkIn').value;
                const checkOutDate = document.getElementById('room-checkOut').value;
                const roomGuestAmount = document.getElementById('roomAmount').value;

                sessionStorage.setItem('roomTypeName', roomType);
                sessionStorage.setItem('checkInDate', checkInDate);
                sessionStorage.setItem('checkOutDate', checkOutDate);
                sessionStorage.setItem('roomGuestAmount', roomGuestAmount);
            });
        });

        // $(".room-button").click(function(){
        //     $("form#dateFormSec").submit();
        // })

        document.addEventListener("DOMContentLoaded", function() {
            const checkIn = document.getElementById('room-checkIn');
            const checkOut = document.getElementById('room-checkOut');
            const today = getLocalDate(new Date());

            checkIn.min = today;
            checkOut.min = checkIn.value ? getNextDay(checkIn.value) : getNextDay(today);

            checkIn.addEventListener('change', function() {
                checkOut.min = getNextDay(checkIn.value);
                if (checkOut.value <= checkIn.value) {
                    checkOut.value = getNextDay(checkIn.value);
                }
            });
        });
        function getNextDay(dateStr) {
            const date = new Date(dateStr);
            date.setDate(date.getDate() + 1);
            return getLocalDate(date);
        }
        function getLocalDate(date) {
            const offset = 2; // 台灣是UTC+8
            date.setHours(date.getHours() + offset - date.getTimezoneOffset() / 60);
            return date.toISOString().split('T')[0];
        }

        function storeRoomData(form) {
            const roomIntro = form.closest('.roomIntro');
            const roomTypeName = roomIntro.querySelector('.roomTypeName').value;
            console.log(roomTypeName)
            const roomGuestAmount = roomIntro.querySelector('.roomGuestAmount').textContent.match(/\d+/)[0];
            const roomSize = roomIntro.querySelector('.PageRTSize').textContent;
            const checkInDate = document.querySelector('.selectCheckIn').value;
            const checkOutDate = document.querySelector('.selectCheckOut').value;
            const roomPrice = roomIntro.querySelector('.roomPrice').textContent;

            localStorage.setItem('roomTypeName', JSON.stringify({ roomTypeName: roomTypeName }));
            localStorage.setItem('roomGuestAmount', JSON.stringify({roomGuestAmount}));
            localStorage.setItem('roomSize', JSON.stringify({roomSize}));
            localStorage.setItem('checkInDate', JSON.stringify({checkInDate}));
            localStorage.setItem('checkOutDate', JSON.stringify({checkOutDate}));
            localStorage.setItem('roomPrice', JSON.stringify({roomPrice}));

            return true; // 允許表單提交
        }


    </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/room/lib/wow/wow.min.js"></script>
    <script src="/js/room/lib/easing/easing.min.js"></script>
    <script src="/js/room/lib/waypoints/waypoints.min.js"></script>
    <script src="/js/room/lib/counterup/counterup.min.js"></script>
    <script src="/js/room/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/room/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/js/room/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Template Javascript -->
    <script src="/js/room/main.js"></script>
    <!-- Kit Icon -->
    <script src="https://kit.fontawesome.com/8366d3754a.js" crossorigin="anonymous"></script>


</body>
</html>