<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>活動促銷 </title>
    <style type="text/css">

        span {
            display: inline-block;
            width: 150px;
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div align="center"> <h2>活動促銷資料 </h2>
    <h3><a class="navbar-brand" th:href="@{/promotion/select_promotion}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3>
</div>

<div align="center" th:fragment="listOnePromotion-div"> <!-- 此div被select_page.html第158行insert用 -->
    <h3><span>查詢結果 :</span></h3>
    <span>活動促銷編號:</span><span th:text="${promotionVO.promotionId}"></span><br/>
    <span>活動促銷標題:</span><span th:text="${promotionVO.promotionTitle}"></span><br/>
    <span>活動促銷說明:</span><span th:text="${promotionVO.promotionContent}"></span><br/>
    <span>促銷折扣:</span><span th:text="${promotionVO.promotionDiscount}"></span><br/>
    <span>促銷折架:</span><span th:text="${promotionVO.promotionCoupon}"></span><br/>
    <span>促銷開始時間:</span><span th:text="${promotionVO.promotionStarted}"></span><br/>
    <span>促銷結束時間:</span><span th:text="${promotionVO.promotionStarted}"></span><br/>
    <span>促銷狀態:</span><span th:text="${promotionVO.promotionState ? '上架' : '下架'}"></span><br/>
</div>


</body>
</html>