<div th:replace="~{/back_end/include/include_top}" xmlns="http://www.w3.org/1999/html"></div>
<title>活動促銷搜尋</title>

<style>

    .selectform {
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 4rem !important;

    }

    .selectform2 {
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 10.5rem !important;


    }

    .selectform3 {
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 3.5rem !important;


    }

    .selectform4 {
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 14.5rem !important;


    }

    .selectform-area {
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 22rem !important;
    }

    .iblock {
        margin-right: 1rem;
    }
</style>
</head>
<body>
<div th:replace="~{/back_end/include/include_body}"></div>
<div class="unique">
    <div>
        <h2 class="hc-2">活動促銷搜尋</h2>
    </div>
    <!--<div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br>-->

<!--        <li>-->
<!--            <form method="post" th:action="@{getOne_For_Display}">-->
<!--                選擇活動促銷編號:-->
<!--                <select name="promotionId">-->
<!--                    <option value=""/>-->
<!--                    <option th:each="promotionVO : ${promotionListData}" th:value="${promotionVO.promotionId}"-->
<!--                            th:text="${promotionVO.promotionId}"/>-->
<!--                </select>-->
<!--                <input type="submit" value="送出">-->
<!--            </form>-->
<!--            <br>-->
<!--        </li>-->

<!--        <li>-->
<!--            <form method="get" th:action="@{getPromotionTitle}">-->
<!--                輸入活動促銷標題:-->
<!--                <input type="text" name="promotionTitle" th:value="${param.promotionTitle}">-->
<!--                <input type="submit" value="送出">-->
<!--            </form>-->
<!--            <br>-->
<!--        </li>-->

<!--            <form method="get" th:action="@{getStartedAndEnd}">-->
<!--                <label for="promotionEnd">活動促銷開始時間:</label>-->
<!--                <input type="date" id="promotionEnd" name="promotionEnd" th:value="${promotionEnd}"/>-->
<!--                <label for="promotionStarted"> ~ 活動促銷結束時間:</label>-->
<!--                <input type="date" id="promotionStarted" name="promotionStarted" th:value="${promotionStarted}"/>-->
<!--                <button type="submit">搜尋</button>-->
<!--            </form>-->
    <form method="get" th:action="@{getStartedAndEnd}">
    <div class="d-flex align-items-center mb-4">
        <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
        <div class="form-floating">
            <input type="date" class="form-control selectform" id="floatingInput" name="promotionEnd" th:value="${promotionEnd}" />
            <label for="floatingInput">促銷開始時間 </label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control selectform" id="floatingInput" name="promotionStarted" th:value="${promotionStarted}" />
            <label for="floatingInput">促銷結束時間 </label>
        </div>
        <button type="submit" id="submit" class=" btn btn-outline-success2 cu-2-1"> 搜尋 </button>

    </div>

    </form>
    <hr class="hr-1">

    <form method="post" th:action="@{listPromotion_ByCompositeQuery}">
        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <input type="text" class="form-control selectform" id="floatingInput" name="promotionId" value=""
                       placeholder="例如：1">
                <label for="floatingInput">活動促銷編號 </label>
            </div>
        </div>
        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <select class="form-select selectform4 " id="floatingSelect" name="promotionState"
                        aria-label="Floating label select example">
                    <option selected value="">請選擇</option>
                    <option value="true" th:text="上架"></option>
                    <option value="false" th:text="下架"></option>
                </select>
                <label for="floatingSelect">促銷狀態</label>
            </div>
        </div>
        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <textarea class="form-control selectform-area" placeholder="Leave a comment here" id="floatingTextarea" name="promotionTitle" value=""></textarea>
                <label for="floatingTextarea">活動促銷標題</label>
            </div>
        </div>
        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <textarea class="form-control selectform-area" placeholder="Leave a comment here" id="floatingTextarea" name="promotionContent" value=""></textarea>
                <label for="floatingTextarea">活動促銷說明</label>
            </div>
        </div>

        <br>
        <div>
            <div class="btn_area">

                <button type="button" class="btn btn-secondary cu-2" onclick="window.location.href='/promotion/listAllPromotion'">返回</button>
                <button type="submit" id="submit" class=" btn btn-outline-success2 cu-2"> 搜尋 </button>
            </div>
        </div>

    </form>


    <!--<div class="b" th:if="${getOne_For_Display}">-->

    <!--    <div th:insert="~{/back_end/promotion/listOnePromotion :: listOnePromotion-div}"></div>-->
    <!--</div>-->
</div>
<div th:replace="~{/back_end/include/include_bottom}"></div>