<div th:replace="~{/front_end/index/include/include_top}"></div>

<style>

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1100px; /* 將滑塊往下移動50像素 */
}
.slider{
  background: url(/img/front_end/index/scroll/img_24.jpg);
  background-size: cover;
  height: 700px;
  width: 1200px;
  box-shadow: 0px 5px 8px rgba(0,0,0,.3);
  animation: animate 20s infinite;
  
 
}
/* 響應式設計 */
@media (max-width: 1200px) {
    .slider {
        width: 1000px;
        height: 600px;
    }
}

@media (max-width: 992px) {
    .slider {
        width: 800px;
        height: 500px;
    }
}

@media (max-width: 768px) {
    .slider {
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 576px) {
    .slider {
        width: 100%;
        height: 300px;
    }
}
@keyframes animate{
  20%{
    background: url(/img/front_end/index/scroll/img_16.jpg);
    background-size: cover;
  }
  40%{
    background: url(/img/front_end/index/scroll/img_25.jpg);
    background-size: cover;
  }
  60%{
    background: url(/img/front_end/index/scroll/img_26.jpg);
    background-size: cover;
  }
  80%{
    background: url(/img/front_end/index/scroll/img_20.png);
    background-size: cover;
  }
  100%{
    background: url(/img/front_end/index/scroll/img_21.png);
    background-size: cover;
  }

}

</style>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
        <img class="position-absolute top-50 start-50 translate-middle" th:src="@{/img/front_end/index/icons/icon-12.png}" alt="Icon">
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid green-bg p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">

            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-2">
                    <a class="text-white px-2" href="">English ｜</a>
                    <a class="text-white px-2" th:href="@{/admin/adminLogin}">日本語 ｜</a>
                    <a class="text-white px-2" th:href="@{/member/memberLogin}">會員中心</a>

                </div>

            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="/" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text2-primary2 m-0"><img class="me-1" th:src="@{/img/front_end/index/icons/LOGO.png}" alt="Icon"><img
                    class="me-3" th:src="@{/img/front_end/index/cactus_name2.png}" alt="Name"></h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <!-- 原本輸入內容:Home -->
                <a href="index.html" class="nav-item nav-link active">最新消息</a>
                <div class="nav-item dropdown">
                    <!-- 原本輸入內容:Pages -->
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">關於我們</a>
                    <div class="dropdown-menu border-0 m-0">
                        <a href="about_cactus" class="dropdown-item">凱克特司</a>
                        <a href="project.html" class="dropdown-item">周邊特色</a>
                        <a href="contactus_cactus" class="dropdown-item">常見問題</a>

                    </div>
                </div>
                <!-- 原本輸入內容:About，要改成下拉式選單 -->
                <a href="about.html" class="nav-item nav-link">房型介紹</a>
                <div class="dropdown-menu border-0 m-0">
                    <!-- <a href="feature.html" class="dropdown-item">緣起</a>
                    <a href="project.html" class="dropdown-item">特色設施</a>
                    <a href="testimonial.html" class="dropdown-item">交通資訊</a>

                    <a href="team.html" class="dropdown-item">周邊景點</a>
                    <a href="appointment.html" class="dropdown-item">周邊美食</a>

                    <a href="404.html" class="dropdown-item">常見問題(聯絡我們)</a> -->
                </div>

                <a href="service.html" class="nav-item nav-link">特色活動</a>
                <a th:href="@{/product/listAllProduct}" class="nav-item nav-link"><i class="fa-solid fa-cart-shopping" me-2
                                                                    style="color: #01b2a6;"></i> 購物商城</a>
            </div>

            <a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block"><i class="fa-solid fa-calendar-days" me-2
                                                                              style="color: #f2f1f1;"></i> 線上訂房</a>

        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
<!--    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">-->
<!--        <div class="container py-5">-->
<!--            <h1 class="display-1 text-white animated slideInDown">關於我們</h1>-->
<!--            <nav aria-label="breadcrumb animated slideInDown">-->
<!--                <ol class="breadcrumb text-uppercase mb-0">-->
<!--                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>-->
<!--                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>-->
<!--                    <li class="breadcrumb-item text-primary active" aria-current="page">About</li>-->
<!--                </ol>-->
<!--            </nav>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Page Header End -->


    <!-- About Start -->
    <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="img/立式船槳.png" alt="" style=" border-radius: 0.5rem;">
                        <img class="img-fluid" src="img/仙人掌園區導覽.png" alt="" style=" border-radius: 0.5rem;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s"> -->
                    <!-- <h4 class="section-title">關於我們</h4> -->
                    <!-- <h1 class="display-5 mb-4" style= "color: #8A7145; font-size: 2rem;">關於我們</h1>
                    <h3 class="mt-2" style= "font-size: 1.4rem;"><i>
                            凱特特司渡假村位於澎湖縣馬公市,其名稱來自於仙人掌的英文名字
                           「CACTUS」。經營者王大哥過去從事仙人掌種植事業,隨著年歲漸長,王大哥
                            漸漸將心思轉向了如何將仙人掌的熱愛,以及對於澎湖美好的熱情與他人分享。
                            於是,在他退休之際,他便決定買下臨邊的土地,成立凱克特司渡假村。          
                    </h3><i>
                    <h3 class="mt-2" style= "font-size: 1.4rem;"><i>
                            在這個渡假村中,人們不僅可以享受到優雅舒適的住宿環境,因緊鄰美麗的
                            嵵裡沙灘,敞開落地窗,即可看見碧海藍天的海灘美景。同時,提供各式的活動
                            給遊客做體驗,例如:參觀仙人掌園區、游泳、立式划槳等,在這裡,我們會用對
                            待家人的態度來迎接每一位旅人,用心感受您的需求與心,期望每一位都能在這
                            裡找到屬於自己的一片淨土,感受到大自然的美好與和諧。
                    </h3></i>
                    <p class="mb-4" ></p>
                    <div class="d-flex align-items-center mb-5"> -->
                        <!-- <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary" style="width: 120px; height: 120px;"> -->
                            <!-- <h1 class="display-1 mb-n2" data-toggle="counter-up">25</h1> -->
                        <!-- </div> -->
                        <!-- <div class="ps-4">
                            <h3>Years</h3>
                            <h3>Working</h3>
                            <h3 class="mb-0">Experience</h3>
                        </div> -->
                    <!-- </div> -->
                    <!-- <a class="btn btn-primary py-3 px-5" href="">Read More</a> -->
                <!-- </div>
            </div>
        </div>
    </div> -->
    <!-- About End -->


    <!-- Feature Start -->
    <div class="center slider" style=" border-radius: 0.5rem;"></div>
    <div class="container-xxl py-5">
        
          <div class="container">
             <div class="row g-5"> 
              
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <!-- <h4 class="section-title">Why Choose Us!</h4> -->
                    
                    <h1 class="display-5 mb-4">CACTUS</h1>
                    <h1 class="display-5 mb-4" style= "color: #8A7145; font-size: 2rem;">關於我們</h1>
                    <p class="mb-4" style= "font-size: 1.4rem;">
                         凱特特司渡假村位於澎湖縣馬公市,其名稱來自於仙人掌的英文名字
                        「CACTUS」。經營者王大哥過去從事仙人掌種植事業,隨著年歲漸長,王大哥
                         漸漸將心思轉向了如何將仙人掌的熱愛,以及對於澎湖美好的熱情與他人分享。
                         於是,在他退休之際,他便決定買下臨邊的土地,成立凱克特司渡假村。</p>
                    <p class="mb-4" style= "font-size: 1.4rem;">
                         在這個渡假村中,人們不僅可以享受到優雅舒適的住宿環境,因緊鄰美麗的
                         嵵裡沙灘,敞開落地窗,即可看見碧海藍天的海灘美景。同時,提供各式的活動
                         給遊客做體驗,例如:參觀仙人掌園區、游泳、立式划槳等,在這裡,我們會用對
                         待家人的態度來迎接每一位旅人,用心感受您的需求與心,期望每一位都能在這
                         裡找到屬於自己的一片淨土,感受到大自然的美好與和諧。</p>     
                    <!-- <div class="row g-4">
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="img/icons/icon-2.png" alt="Icon">
                                <div class="ms-4">
                                    <h3>Design Approach</h3>
                                    <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="img/icons/icon-3.png" alt="Icon">
                                <div class="ms-4">
                                    <h3>Innovative Solutions</h3>
                                    <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="img/icons/icon-4.png" alt="Icon">
                                <div class="ms-4">
                                    <h3>Project Management</h3>
                                    <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-img" >
                        <img class="img-fluid" src="/img/front_end/index/scroll/img_25.jpg" style="border-radius: 0.5rem;"alt="">
                        <img class="img-fluid" src="/img/front_end/index/scroll/img_16.jpg" style="border-radius: 0.5rem;"alt="">
                    </div>
                </div>
             </div> 
        </div>  
    </div>
    <!-- Feature End -->


    <!-- Team Start -->
    
    <div style="margin-top: 70%;"></div>
    
    <!-- Team End -->


    <!-- Footer Start -->
    <div>

        <script
                src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                type="module"
        ></script>
        <dotlottie-player
                src="https://lottie.host/d5c4ce3c-dc9c-4472-a042-082ebdf05872/kzl7Q2a4za.json"
                background="transparent"
                speed="0.4"
                style="max-width: 100%; margin-bottom: -1px"
                direction="1"
                playMode="normal"
                loop
                autoplay
        ></dotlottie-player>


    </div>

    <div class="container-fluid text-body footer pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">


        <div class="container py-5">
            <div class="row g-5">

                <div class="col-lg-3 col-md-6">
                    <h3 class="text-darkblue mb-4">最新消息</h3>
                    <a class="btn btn-link text-primary5" href="">所有公告</a>
                    <a class="btn btn-link text-primary5" href="">住宿優惠</a>
                    <a class="btn btn-link text-primary5" href="">商城優惠</a>
                    <a class="btn btn-link text-primary5" href="">活動優惠</a>
                    <!-- <a class="btn btn-link" href="">Construction</a> -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-darkblue mb-4">房型介紹</h3>
                    <a class="btn btn-link text-primary5" href="">家庭庭園房</a>
                    <a class="btn btn-link text-primary5" href="">豪華庭園房</a>
                    <a class="btn btn-link text-primary5" href="">雙層奢華套房</a>
                    <a class="btn btn-link text-primary5" href="">海洋海景房</a>

                    <!-- <a class="btn btn-link" href="">Support</a> -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-darkblue mb-4">特色活動</h3>
                    <a class="btn btn-link text-primary5" href="">體驗潛水</a>
                    <a class="btn btn-link text-primary5" href="">寬板滑水</a>
                    <a class="btn btn-link text-primary5" href="">SUP 立式划槳</a>
                    <a class="btn btn-link text-primary5" href="">仙人掌園區導覽</a>
                    <a class="btn btn-link text-primary5" href="">BBQ 晚餐吃到飽</a>
                </div>


                <div class="col-lg-3 col-md-6">
                    <h3 class="text-darkblue mb-4">聯絡我們</h3>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary5 me-2"></i>地址：880 澎湖縣馬公市160號
                    </p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary5 me-2"></i>訂房專線：06-8988717 #888</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary5 me-2"></i>CactusHotel@yahoo.com.tw</p>

                </div>

            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">2024 Cactus Resort Hotel 凱克特司渡假村</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <div th:replace="~{/front_end/index/include/include_bottom}"></div>