<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>活動項目 </title>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>
	<div align="center"> <h2>活動類別資料 </h2>
	<h3><a class="navbar-brand" th:href="@{/item/select_item}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
	
	<div align="center" th:fragment="listOneItem-div"> <!-- 此div被select_page.html第158行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>活動項目編號:</span><span th:text="${itemVO.activityId}"></span><br/>
		<span>活動類別名稱:</span><span th:text="${itemVO.categoryVO.activityCategoryName}"></span><br/>
		<span>活動名稱:</span><span th:text="${itemVO.activityName}"></span><br/>
		<span>活動簡述:</span><span th:text="${itemVO.activityDescription}"></span><br/>
		<span>活動說明:</span><span th:text="${itemVO.activityInfo}"></span><br/>
		<span>活動價格:</span><span th:text="${itemVO.activityPrice}"></span><br/>
		<span>活動狀態:</span><span th:text="${itemVO.activityState ? '上架' : '下架'}"></span><br/>
		
	</div>

</body>
</html>