<div th:replace="~{/back_end/include/include_top}" xmlns="http://www.w3.org/1999/html"></div>
<title>活動項目搜尋</title>

<style>

    .selectform {
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 4rem !important;

    }

    .selectform2 {
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 10.5rem !important;


    }
    .selectform3 {
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 3.5rem !important;


    }
    .selectform4 {
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 14.5rem !important;


    }
    .selectform-area{
        border-radius: 4px;
        border: 0.5px solid #c2c2c2;
        padding-right: 22rem !important;
    }

    .iblock {
        margin-right: 1rem;
    }

</style>
</head>
<body>
<div th:replace="~{/back_end/include/include_body}"></div>
<div class="unique">
    <div>
        <h2 class="hc-2">活動項目搜尋</h2>
    </div>


    <!--    <div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div>-->

    <!--  複合查詢 -->

    <form method="post" th:action="@{listItem_ByCompositeQuery}">

        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <input type="text" class="form-control selectform" id="floatingInput" name="activityId" value=""
                       placeholder="例如：1">
                <label for="floatingInput">活動項目編號 </label>
            </div>
        </div>

        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <select class="form-select selectform2 " id="floatingSelect" th:field="*{categoryVO.activityCategoryId}"
                        aria-label="Floating label select example">
                    <option selected value="">請選擇</option>
                    <option th:each="categoryVO : ${categoryListData2}" th:value="${categoryVO.activityCategoryId}"
                            th:text="${categoryVO.activityCategoryName}"/>
                </select>
                <label for="floatingSelect">活動類別名稱</label>
            </div>
        </div>

        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <select class="form-select selectform3 " id="floatingSelect" name="activityName"
                        aria-label="Floating label select example">
                    <option selected value="">請選擇</option>
                    <option th:each="itemVO : ${itemListData}" th:value="${itemVO.activityName}"
                            th:text="${itemVO.activityName}"/>
                </select>
                <label for="floatingSelect">活動項目名稱</label>
            </div>
        </div>

        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <select class="form-select selectform4 " id="floatingSelect" name="activityState"
                        aria-label="Floating label select example">
                    <option selected value="">請選擇</option>
                    <option value="true" th:text="上架"></option>
                    <option value="false" th:text="下架"></option>
                </select>
                <label for="floatingSelect">活動狀態</label>
            </div>
        </div>

        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <textarea class="form-control selectform-area" placeholder="Leave a comment here" id="floatingTextarea" name="activityDescription" value=""></textarea>
                <label for="floatingTextarea">活動簡述</label>
            </div>
        </div>
        <div class="d-flex align-items-center mb-4">
            <i class="fa-solid fa-pause fa-2xl iblock" style="color: #020e67;"></i>
            <div class="form-floating">
                <textarea class="form-control selectform-area" placeholder="Leave a comment here" id="floatingTextarea" name="activityInfo" value=""></textarea>
                <label for="floatingTextarea">活動說明</label>
            </div>
        </div>
        <br>
        <div>
            <div class="btn_area">

                <button type="button" class="btn btn-secondary cu-2" onclick="window.location.href='/item/listAllItem'">返回</button>
                <button type="submit" id="submit" class=" btn btn-outline-success2 cu-2"> 搜尋 </button>
            </div>
        </div>

    </form>


    <!--    <div class="b" th:if="${getOne_For_Display}">-->
    <!--       -->
    <!--        <div th:insert="~{/back_end/item/listOneItem :: listOneItem-div}"></div>-->
    <!--    </div>-->
</div>
<div th:replace="~{/back_end/include/include_bottom}"></div>