<div th:replace="~{/front_end/product/include_top}"></div>



<style>
	a.backProduct{
		display:block;
		font-size:1.5rem;
		margin-left:65px;
	}
	
	.total-price{
		margin-left:960px;
		font-size:1.3rem;
	}
	
	button#checkout-button,button#cleanShopCart{
		font-size:1.3rem;
	}
	
	button#checkout-button{
		margin-top:10px;
		margin-left:900px;
	}
	
	button#cleanShopCart{
		margin-top:10px;
		margin-left:20px;
	}
			
	
	
	div.accordion-item{
		position: relative;
		top: 50%;  
		left: 50%;
		transform: translate(-50%, 0%);
		width:88%;
	}
	
	.cartTable th,td{
		text-align:center;
	}


</style>


<body>


    <!-- Spinner Start  Lodding畫面-->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
        <img class="position-absolute top-50 start-50 translate-middle" th:src="@{/img/front_end/activity/icons/icon-12.png}" alt="Icon">
    </div>
    <!-- Spinner End -->
  

    <!-- Topbar Start -->
    <div class="container-fluid green-bg p-0 wow fadeIn sticky-top" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.2s; animation-name: fadeIn;">
        <div class="row gx-0 d-none d-lg-flex">
        
            <div class="col-lg-7 px-5 text-start">
                <!-- <div class="h-100 d-inline-flex align-items-center py-3 me-3"> -->
                    <!-- <a class="text-body px-2" href="tel:+0123456789"><i class="fa fa-phone-alt text-white me-2"></i>+012 345 6789</a>
                    <a class="text-body px-2" href="mailto:info@example.com"><i class="fa fa-envelope-open text-gold me-2"></i>info@example.com</a> -->
                <!-- </div> -->
            </div>
            
            <div class="col-lg-5 px-2-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-2">
                    <a class="text-white px-2 " href=""><i class="fa fa-home fa-lg icon-size"></i>&nbsp;&nbsp;首頁 ｜</a>
                    <a class="text-white px-2" id="cartLink" th:href="@{/shopCart/shopCart}">購物車 ｜</a>
                    <a class="text-white px-2" id="memberCenterLink" th:href="@{/member/memberOnlyWeb}">會員中心 ｜</a>
                    <a class="text-white px-2" th:href="@{/member/memberLogin}">加入會員</a>
                    
                </div>  
            </div>
            
        </div>
    </div>
   


<!-- -------------------------------------------------------------------- -->

	              
				
				<a class="backProduct" th:href="@{/product/listAllProduct}">返回商品選擇頁面</a>
				
<br>

<!--==================================聯絡資訊================================== -->
      <div style="margin-top: 20px;"></div>
    
	<div class="accordion-item" style="border-radius: 0.5rem;">
        
        <h2 class="accordion-header">
          <button class="accordion-button " style="font-size: 25px;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            購物車清單
          </button>
        </h2>
        
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
<!--           <div class="accordion-body" style="font-size: 25px;"><i class="bi bi-pause-fill"></i>聯絡資訊</div> -->
          
          
	         <div class="cart-container"> 
	         
		          <table class="cartTable" width="100%" style="table-layout:fixed">
			        <thead>
			        <tr>
			            <th>商品編號</th>
			            <th>商品名稱</th>
			            <th>數量</th>
			            <th>價格</th>
			            <th>總價</th>
			            <th>操作</th>
			        </tr>
			        </thead>
			        <tbody id="tableBody">
			        <!-- 從AJAX動態新增 -->
			
			        </tbody>
			    </table>
		    
			</div>
		
		</div>
	</div>
	
	<br>
	<br>
	
	
	<div class="total-price">
        <p>總價: <span id="cart-total"></span></p>
    </div>
    
    <button id="checkout-button" class="checkout-button">確認下單</button>
    <button id="cleanShopCart" class="checkout-button">清空購物車</button>








 <div th:replace="~{/front_end/product/include_footer}"></div>




<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
function getShopCart() {
    $.ajax({
        url: '/shopCart/shopCartByMember',
        type: 'GET',
        success: function (response) {
            // 在此從後端取得處理成功回應的購物車資料  List<DetailDTO> list
//             console.log(response);
            const tableBody = document.getElementById("tableBody");
            let html = "";
            if (response && response.length > 0) {
                // 迭代取出物件  變成
                response.forEach(item => {
                	var a_string = "<a href='"  + "/product/listOneProduct/?productId=" + item.productId + "'>商品詳情</a>";
//                 	console.log(a_string);
                	
                    html += `<tr>
                                    <td>${item.productId}</td>
                                    <td>${item.productName} -> ${a_string}</td>
                                    <td><input type="number" min="1" value="${item.quantity}"></td>
                                    <td>${item.price}</td>
                                    <td class="item-total">${item.quantity * item.price}</td>
                                    <td><button class="remove-button" data-product-id="${item.productId}">移除</button></td>
                                  </tr>`;
                });

                tableBody.innerHTML = html;

                eventButton();
            } else {
                html += `<tr><td colspan="6">尚無商品，快去購物吧</td></tr>`;
                tableBody.innerHTML = html;
            }
        }
        ,
        error: function (xhr, status, error) {
            if (xhr.status === 404) {
                // 處理 404 錯誤，表示找不到資源
                console.error("找不到資源");
            } else if (xhr.status === 400) {
                // 處理 400 錯誤，表示未登入會員
                alert("尚未登入會員，請登入");
                window.location.href = '/front_end/member/memberLogin';
            } else {
                // 處理其他錯誤
                console.error(error);
            }
        }
    });
}


getShopCart();





function eventButton() {
    // 取得元素
    const removeButtons = document.querySelectorAll('.remove-button');
    const quantityInputs = document.querySelectorAll('.cart-container tbody tr input[type="number"]');
    const cartTotalElement = document.getElementById('cart-total');

    // 移除商品
    function removeItem(event) {
    	
    	swal({
  		  text:"確定移除商品嗎?",
  		  icon: "warning",
  		  buttons: {
			      cancel: {
			        text: "取消",
			        visible: true
			      },
			      confirm: {
			        text: "確認",
			        visible: true
			      }
			    }
  		}).then(function(confirm){
  			if(confirm){
  				const currentItem = event.target.closest('tr');
//              console.log(event.target.attributes[1].value)
             currentItem.remove();
//              console.log("remove")
             updateCartTotal();
//              console.log("update total price")

             const productId = Number(event.target.attributes[1].value);
//              console.log(productId);
             removeRedisCart(productId);
  			}else{
  				console.log("NO");
  			}
  		})
    	
    }



    // 更新購物車總價
    function updateCartTotal() {
        const itemTotalElements = document.querySelectorAll('.item-total');
        let cartTotal = 0;
        itemTotalElements.forEach((itemTotalElement) => {
            const itemTotal = parseFloat(itemTotalElement.textContent.replace('$', ''));
            cartTotal += itemTotal;
        });
        cartTotalElement.textContent = '$' + cartTotal;
    }

    // 監聽移除按鈕點擊事件
    removeButtons.forEach((removeButton) => {
        removeButton.addEventListener('click', removeItem);
    });

    // 監聽數量輸入框變更事件
    quantityInputs.forEach((quantityInput) => {
        quantityInput.addEventListener('input', () => {
            const itemRow = quantityInput.closest('tr');
            updateItemTotal(itemRow);
            updateCartTotal();

            const productId = itemRow.querySelector('td:nth-child(1)').textContent;
            const quantity = parseInt(quantityInput.value);
            updateRedisCart(productId, quantity);
        });
    });



    // 更新單項商品總價
    function updateItemTotal(itemRow) {
        const quantityInput = itemRow.querySelector('input[type="number"]');
        const itemTotalElement = itemRow.querySelector('.item-total');
        const itemPriceElement = itemRow.querySelector('td:nth-child(4)');
        const quantity = parseInt(quantityInput.value);
//         console.log(quantity);
        const itemPrice = parseInt(itemPriceElement.textContent);
//         console.log(itemPrice);
        const itemTotal = quantity * itemPrice;
        itemTotalElement.textContent = '$' + itemTotal;
    }


    // 初始化購物車總價
    updateCartTotal();

    function updateRedisCart(productId, quantity) {
        const cartItem = {
            productId: productId,
            quantity: quantity,
        };

        $.ajax({
            url: '/shopCart/upDateCart',
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(cartItem),
            success: function (response) {
//                 console.log(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function removeRedisCart(productId) {
//         console.log("call ajax");
        $.ajax({
            url: '/shopCart/removeOneCartItem',
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify({productId: productId}),
            success: function (response) {
//                 console.log(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }


    const cleanUpButton = document.querySelector('#cleanShopCart');
    cleanUpButton.addEventListener("click", cleanShopCart);

    function cleanShopCart() {    	
    	swal({
  		  text:"確定要清空購物車嗎?",
  		  icon: "warning",
  		  buttons: {
		      cancel: {
			        text: "取消",
			        visible: true
			      },
			      confirm: {
			        text: "確認",
			        visible: true
			      }
  		  }
  		}).then(function(confirm){
  			if(confirm){
//   				 console.log("準備呼叫AJAX")
  	            $.ajax({
  	                url: '/shopCart/cleanShopCart',
  	                type: 'GET',
  	                success: function (response) {
//   	                    console.log("呼叫AJAX成功")
  	                    swal("購物車已清空","您的購物車空空如也啦!趕快再去物色其他好貨吧!","success")
  	                    .then(function(){
  	                        window.location.href = response;
  	                    });
  	                },
  	                error: function (xhr, status, error) {
  	                    console.error(error);
  	                }
  	            });
  			}else{
//   				console.log("NO");
  			}
  		})

    }
}

const checkoutButton = document.querySelector('#checkout-button');
// 監聽確認下單按鈕點擊事件
checkoutButton.addEventListener('click', () => {
	
	swal({
		  text:"確認要結帳嗎?",
		  icon: "warning",
		  buttons:{
		      cancel: {
			        text: "取消",
			        visible: true
			      },
			      confirm: {
			        text: "確認",
			        visible: true
			      }
		  }
		}).then(function(confirm){
			if(confirm){
		        window.location.href = "/shopCart/CartToCheckout";
			}else{
// 				console.log("NO");
			}
		})

});


</script>

<div th:replace="~{/front_end/product/include_bottom}"></div>
