<div th:replace="~{/front_end/product/include_top}"></div>

    
    <style>
    	#quantity{
    		margin-left:10px;
    		margin-right:50px;
    		height:30px;
    		width:77px;
    	}
    
    </style>
    
</head>

<body>

<div th:replace="~{/front_end/product/include_body}"></div>


      <!-- 商品詳情介紹 -->

      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h5 class="section-title">Product Feature</h5>
        <h4 class="display-5 mb-4" >商品詳細介紹</h4>
    </div>
    


<!-- ==============================商品資料展示================================ -->

<!--         <div class="activity"> -->
<!--         <img class="card-img-top card-h" th:src="@{/activity/DBGifReader} + '?activityPhotoId=' + ${photoVO.activityPhotoId}" width="100px"> -->
<!--         <span>活動圖片編號:</span><span th:text="${photoVO.activityPhotoId}"></span><br/> -->
<!-- 		<span>活動項目編號:</span><span th:text="${photoVO.activityPh.activityId}"></span><br/> -->
<!-- 		<span>活動項目描述:</span><span th:text="${photoVO.activityPh.activityDescription}"></span><br/> -->
<!-- 		<span class="nt" >NT$</span><span class="money" th:text="${photoVO.activityPh.activityPrice}" ></span></span> 起</span> -->
		
<!--  	   </div> -->


		<div class="text-center">
			<a th:href="@{/product/listAllProduct}">返回商品選擇頁面</a>
		</div>
		
		

	
	
	<div style="margin-top: 100px;"></div>
	
	
	
	<div class="row2 row-cols-1 row-cols-md-3 g-4 justify-content-center" style="display: flex; flex-wrap: wrap;" id="photoList">
	
	
	<!-- 卡片 -->
	    <div class="col-md-6 mx-auto" style="margin-bottom:30px;">
	        <div class="card h-100 space" style="transform: scale(1.1);"> <!-- 將 scale 數值調整為更大的值 -->
	            
	            <!-- 商品圖片 -->
	            <img class="card-img-top card-h" th:src="@{/product/ShowProductPic} + '?productId=' + ${productVO.productId}" width="100px">
	            
	            
	            <div class="card-body">
	            
	            	<!-- 商品ID -->
	                <input type="hidden" id="productId" th:value="${productVO.productId}" style="display: none;">
	            	
	            	<!-- 商品名稱 -->
	                <h4 class="card-title2" th:text="${productVO.productName}" id="productName"></h4>
	                
	                <!-- 商品描述 -->
	                <p id="detail" class="card-text multiline-ellipsis" th:text="${productVO.productDescribtion}"></p>
	            </div>
	            
	            
	            <div class="card-footer2">
	                <span class="nt" >NT$</span><span class="money" th:text="${productVO.productPrice}" ></span> 元
	                
	                <!-- 商品價格 -->
	            	<input type="hidden" id="price" th:value="${productVO.productPrice}" style="display: none;">
	<!--                 <button class="btn btn-primary border-radius" type="submit" value="Submit" data-bs-toggle="modal" > -->
	<!--                     <a class="text-white px-2 " th:href="@{'/activity/listDetailAddAttendees?activityPhotoId=' + ${photoVO.activityPhotoId} + ''}">詳細介紹</a> -->
	<!--                 </button> -->
	                <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
	            </div>
	        </div>
	<!-- 卡片 -->    
	


<!-- ===============================按鈕====================================== -->    
        
<div style="margin-top: 70px;"></div>        
   <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s" 
     style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn; top: -100px; width: 103.5%; margin-left: -25px;">
      
      
      <!-- 左側LOGO圖 -->
      <div style="display: flex; align-items: center;"> 
		<h1 class="text2-primary2 m-0" style=" font-size:25px">
			<img class="me-1" th:src="@{/img/front_end/activity/icons/LOGO.png}" alt="Icon"/>
     	</h1>
     </div>
            
            <!-- 分隔用 -->
         <div class="collapse navbar-collapse"  id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0" > 
	            <label for="quantity">數量:</label>
	            <input type="number" id="quantity" min="1" value="1">
            </div> 
        </div> 
        
        
          <!-- 右側按鈕 --> 
            <a href="#">
            <button type="button" class="btn btn-primary py-2 px-4 d-none d-lg-block add-to-cart" style=" border-radius: 0.5rem;" >
            <i  me-2="" style="color: #f2f1f1; " aria-hidden="true"  >加入購物車</i>
            </button>
            </a>
            
         </div> 
        
    </nav>
        
        
    
    
    
    

</div>




<!-- ======================================================================= -->

 
    
 <div th:replace="~{/front_end/product/include_footer}"></div>
   

    


    
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                    <!-- ●●js  for jquery datatables 用 -->
    
    <script>
// 	    const quantityInput = document.getElementById("quantity");
// 	    quantityInput.addEventListener("change", function () {
// 	        var value = parseInt(quantityInput.value);
// 	        if (value < 1) {
// 	            quantityInput.value = "1";
// 	        } else if (value > 5) {
// 	            quantityInput.value = "5";
// 	            alert("單項商品購買數量不得超過5")
// 	        }
// 	    });
	    
	    
	    
 			$(document).ready(function () {
        	
        	var session_acount="";
//         	console.log("session_acount =" + session_acount);
            
            //查看session是否有存著account值
            $.ajax({
                url: '/member/getSessionAccount', 
                type: 'GET',
                success: function(response) {
                    
                    session_acount = response;
//                     console.log("response Session Account:", session_acount);
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                }
            });
 		
            
	    var pid = $("input#productId");
// 	    console.log(pid.val());
	    
	    
	    // 綁定「加入購物車」按鈕的點擊事件
	    $('button.add-to-cart').click(function(){
	    	
	    	if ( session_acount!="" ) {

	    		addToCart();
	    		
            } else {// 如果沒有值
            	
            	var location = "/product/listOneProduct?productId=" + pid.val();
            	var dataToSend = { location: location };

                //將欲前往頁面存入供跳轉
                	$.ajax({
                        url: '/member/setLocation', // 替换成你的后端路由
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(dataToSend),
                        success: function(response) {
                            //確認是否儲存成功
//                             console.log("Location setting success", response);
                        },
                        error: function(xhr, status, error) {
                            console.error("Error:", error);
                        }
                    });
            
					swal("請注意","您必須登入會員才能使用該功能，若您尚無會員請先進行註冊!","warning")
                    
					.then(function(){ 
                        window.location.href = '/member/memberLogin';
                    })
         	
	        	
	        }
	    });
	    
	
	
	    // 加入購物車的處理函式
	    function addToCart(event) {
	        // 獲取商品資訊
	        const productId = document.getElementById("productId").value;
	        const productName = document.getElementById("productName").textContent;
	        const price = document.getElementById("price").value;
	        const quantity = document.getElementById("quantity").value;
	
	        var cartItem = {
	            productId: productId,
	            quantity: quantity,
	            productName: productName,
	            price: price
	        };
	
	        jQuery.ajax({
	            url: "/shopCart/addOneToCart",
	            type: "POST",
	            contentType: "application/json",
	            data: JSON.stringify(cartItem),
	            success: function (response) {
                	swal("成功!","商品已添加到購物車！","success"); 
	            },
	            error: function () {
                	swal("失敗!","添加商品到購物車失敗！","error"); 
	            }
	        });
	
	    }
});
	</script>
  



<div th:replace="~{/front_end/product/include_bottom}"></div>

