<div th:replace="~{/front_end/product/include_top}"></div>


<style>

	.cartTable th,td{
		text-align:center;
	}
	
	div.total-price{
		margin-left:1050px;
	}
	
	button.submit_order{
		margin-left:15px;
		font-size:1.3rem;
	}
	
	button.backToCart{
		margin-left:950px;
		font-size:1.3rem;
	}
	
	h3.title{
		margin-left:50px;
		color:#a57f5b;
	}
	
	.checkout-form{
		font-size:1.2rem;
	}
	
	.payInfo-inputs label {
		margin-left:60px;
	}
	
	.payInfo-inputs input {
		margin-left:10px;
	}
	
	input.submit_order{
		font-size:1.3rem;
		border:2px solid black;
		width:115px;
		height:37.2px;
		padding:1px 6px 1px 6px;
		margin-left:5px;
	}
	
	input#cart-total{
		font-size:1rem;
		border:none;
		width:70px;
	}
	
	
	.box{
    		position:relative;
    	}
    	.box .cartnumber{
    		position:absolute;
    		background-color:red;
    		color:#fff;
    		border-radius:24px;
    		text-align:center;
    		font-size:15px;
    		width:15%;
    		height:100%;
    		right:95%;
    		top:-13px;
    	}
    	
    	.-cartnone{
    		display:none;
    	}
    	
    	.error_Msg_block{
    		margin-left:60px;
    		color:red;
    		width:800px;
    	}

</style>
    
</head>

<body>



    <!-- Spinner Start  Lodding畫面-->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
        <img class="position-absolute top-50 start-50 translate-middle" th:src="@{/img/front_end/activity/icons/icon-12.png}" alt="Icon">
    </div>
    <!-- Spinner End -->
  

    <!-- Topbar Start -->
    <div class="container-fluid green-bg p-0 wow fadeIn sticky-top" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.2s; animation-name: fadeIn;">
        <div class="row gx-0 d-none d-lg-flex">
        
            <div class="col-lg-7 px-5 text-start">
                <!-- <div class="h-100 d-inline-flex align-items-center py-3 me-3"> -->
                    <!-- <a class="text-body px-2" href="tel:+0123456789"><i class="fa fa-phone-alt text-white me-2"></i>+012 345 6789</a>
                    <a class="text-body px-2" href="mailto:info@example.com"><i class="fa fa-envelope-open text-gold me-2"></i>info@example.com</a> -->
                <!-- </div> -->
            </div>
            
            <div class="col-lg-5 px-2-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-2">
                    <a class="text-white px-2 " th:href="@{/}"><i class="fa fa-home fa-lg icon-size"></i>&nbsp;&nbsp;首頁 ｜</a>
					<div class="box">
                    	<a class="text-white px-2" id="cartLink" th:href="@{/shopCart/shopCart}"><i class="fa-solid fa-cart-shopping"></i><span class="cartnumber"></span>&nbsp;&nbsp;購物車 ｜</a>
                    </div>                    <a class="text-white px-2" id="memberCenterLink" th:href="@{/member/memberOnlyWeb}">會員中心 ｜</a>
                    <a class="text-white px-2" th:href="@{/member/memberLogin}">加入會員</a>

                </div>
            </div>
            
        </div>
    </div>
   


<!-- -------------------------------------------------------------------- -->
<h3 class="title">--請確認以下資訊--</h3>

<div style="margin-top: 20px;"></div>
    
 <form id="checkOutForm" method="post" th:action="@{/shopCart/checkoutOrder}">
 
	<div class="accordion-item" style="border-radius: 0.5rem;">
        
        <h2 class="accordion-header">
          <button class="accordion-button " style="font-size: 25px;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
            購物車清單
          </button>
        </h2>
        
        
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">


			<div class="cart-container">
			    <table class="cartTable" width="100%" style="table-layout:fixed">
			        <thead>
			        <tr>
			            <th>商品編號</th>
			            <th>商品名稱</th>
			            <th>數量</th>
			            <th>單價</th>
			            <th>總價</th>
			        </tr>
			        </thead>
			        <tbody id="tableBody">
			        <!-- 從AJAX動態新增 -->
			
			        </tbody>
			    </table>
			    
			    <hr>
			    
			    <div class="total-price">
			        <span>訂單總價:$ <input type=text id="cart-total" name="productTotal" readonly/></span>
			    </div>
			    
			    
			</div>
		</div>
	</div>
	
	

<div style="margin-top: 20px;"></div>
    
	<div class="accordion-item" style="border-radius: 0.5rem;">
        
        <h2 class="accordion-header">
          <button class="accordion-button " style="font-size: 25px;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            消費者明細
          </button>
        </h2>
                
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">

			<div class="checkout-form">
			    <div class="payInfo">
			        <div class="payInfo-inputs">
			        	<br>
			            <label for="name">姓名:</label>
			            <input type="text" id="name" name="name" th:value="${memberVO.memberName}">
			            <br>
			            <br>
			            <label for="email">信箱:</label>
			            <input type="text" id="email" name="email" th:value="${session.account}">
			            <br>
			            <br>
			            <label for="phone">電話:</label>
			            <input type="tel" id="phone" name="phone" th:value="${memberVO.phone}">
			            <br>
			            <br>
			            <label for="address">地址:</label>
			            <input type="text" id="address" name="address" th:value="${memberVO.address}">
			            <br>
			            <br>
			            <div class="error_Msg_block"></div>
			        </div>
			    </div>
			
			</div>
		</div>
	</div>
	
	<br>
	
	<button type="button" class="backToCart" onclick="window.location.href='/shopCart/shopCart'">返回購物車</button>
	
	<button type="button" class="submit_order">確認下單</button>
	
</form>


 <div th:replace="~{/front_end/product/include_footer}"></div>




<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>

	$(".submit_order").click(function(){
		
		//前端錯誤驗證練習(購買者資訊)
		var name_el = $("input#name");
		var email_el = $("input#email");
		var phone_el = $("input#phone");
		var address_el = $("input#address");
		
		var error_Msg = "";
		
		var name_regex = new RegExp(/^[\w\u4e00-\u9fa5]{2,10}$/);
		var email_regex = new RegExp(/^[^@\s]+@[^@\s]+\.[^@\s]+$/);
		var phone_regex = new RegExp(/^09[0-9]{8}$/);
		var address_regex = new RegExp(/^[\w\u4e00-\u9fa5\s.,()-]{7,}$/);
		
		//姓名驗證，組合錯誤訊息
		if( !name_regex.test( name_el.val() ) ){
			error_Msg += `姓名為空，或格式錯誤(字數限制:2-10,只能包含中英文、數字及_)。<br>`;
		}
		
		//Email驗證，組合錯誤訊息
		if( !email_regex.test( email_el.val() ) ){
			error_Msg += `信箱為空，或不為email格式(@)。<br>`;
		}
		
		//電話驗證，組合錯誤訊息
		if( !phone_regex.test( phone_el.val() ) ){
			error_Msg += `電話為空，或格式錯誤(09開頭且長度為10)。<br>`;
		}
		
		//地址驗證，組合錯誤訊息
		if( !address_regex.test( address_el.val() ) ){
			error_Msg += `地址為空，或格式錯誤(請包含完整縣市名、鄉鎮市區鄉名、以及道路名，長度最少為7個字)。<br>`;
		}
		
		//若有錯誤訊息便秀出來
		if(!error_Msg == ""){
			var error_Msg_block = $("div.error_Msg_block")
			error_Msg_block.html("");
			
			var HTML_Msg = `請修正以下錯誤:<br>${error_Msg}<br>`;
			
			error_Msg_block.html(HTML_Msg);
		}else{  //沒錯就清空錯誤訊息，並送出表單
			var error_Msg_block = $("div.error_Msg_block")
			error_Msg_block.html("");
		//======================================================//
			if( $("tbody .item-total").length > 0){
				
			/*******************************************/
				//有項目才可以結帳
				swal({
					  text:"請確認所有資訊無誤，再進行下單!",
					  icon: "info",
					  buttons: {
					      cancel: {
						        text: "我再看一下",
						        visible: true
						      },
						      confirm: {
						        text: "是的我確認了",
						        visible: true
						      }
						    }
					})
					.then(function(confirm){
						if(confirm){
							$("form#checkOutForm").submit()		
						}
					})
			/*******************************************/
	
			}else{   //沒項目不可以結帳
				swal("錯誤","您的購物車似乎沒有商品喔!無法進行結帳動作","error")
			}	
		//======================================================//
		}	
	})
	
	
	
	
	const cartTotalElement = document.getElementById('cart-total');
	
	function getShopCart() {
	    $.ajax({
	        url: '/shopCart/shopCartByMember',
	        type: 'GET',
	        success: function (response) {
	            // 在此從後端取得處理成功回應的購物車資料  List<DetailDTO> list
	//             console.log(response);
	            if (response != null) {
	                // 迭代取出物件  變成
	                const tableBody = document.getElementById("tableBody");
	                let html = "";
	
	                response.forEach(item => {
	                    html += `<tr>
	                                    <td>${item.productId}</td>
	                                    <td>${item.productName}</td>
	                                    <td>${item.quantity}</td>
	                                    <td>$${item.price}</td>
	                                    <td class="item-total">$${item.quantity * item.price}</td>
	                                  </tr>`;
	                });
	
	                tableBody.innerHTML = html;
	
	                updateCartTotal();
	                
	            } else {
	                alert("尚未登入會員，請登入");
	                window.location.href = '/front_end/member/memberLogin';
	            }
	        }
	        ,
	        error: function (xhr, status, error) {
	            // 在此處理錯誤
	            console.error(error);
	        }
	    });
	}
	
	
	
	getShopCart();
	
	
	
// 	$('.submit_order').on('click', function() {
		
// 		swal({
// 			  text:"確認要下單嗎?",
// 			  icon: "info",
// 			  buttons: {
// 			      cancel: {
// 				        text: "取消",
// 				        visible: true
// 				      },
// 				      confirm: {
// 				        text: "確認",
// 				        visible: true
// 				      }
// 				    }
// 			})
// 			.then(function(confirm){
// 				if(confirm){
// 					const cartTotalElement = document.getElementById('cart-total');
// 			        var totalPrice = parseInt(cartTotalElement.textContent.replace('$', ''), 10);
// 			        var name = $('#name').val();
// 			        var email = $('#email').val();
// 			        var phone = $('#phone').val();
// 			        var address = $('#address').val();
// 			    // 獲取要發送的數據	
// 			    var data = {
// 			    	productTotal:totalPrice,
// 			        name:name,
// 			        email:email,
// 			        phone:phone,
// 			        address:address,
// 			    };
// 	// 		    console.log(data);
	
// 			    // 發送AJAX請求
// 			    $.ajax({
// 			        url: '/shopCart/checkoutOrder',
// 			        type: 'POST',
// 			        data: JSON.stringify(data),
// 			        contentType: 'application/json',
// 			        success: function(response) {
// 			            // 請求成功，可以在這裡處理後續操作或顯示成功訊息
// 	// 		            console.log(response);
// 			        },error: function(xhr, status, error) {
// 			            // 請求失敗，可以在這裡處理錯誤或顯示錯誤訊息
// 			            console.error('請求失敗。狀態碼：' + xhr.status);
// 			        }
// 			    });			
// 			}else{
// 				console.log("NO");
// 					}
// 				})
		
	   
// 	});
	
	
	
	function updateCartTotal() {
	    const itemTotalElements = document.querySelectorAll('.item-total');
	    let cartTotal = 0;
	    itemTotalElements.forEach((itemTotalElement) => {
	        const itemTotal = parseFloat(itemTotalElement.textContent.replace('$', ''));
	        cartTotal += itemTotal;
	//         console.log(itemTotal);
	//         console.log(cartTotal);
	    });
	    cartTotalElement.value =  cartTotal;
	}


</script>

<div th:replace="~{/front_end/product/include_bottom}"></div>

		swal({
			  text:"確認要下單嗎?",
			  icon: "info",
			  buttons: {
			      cancel: {
				        text: "取消",
				        visible: true
				      },
				      confirm: {
				        text: "確認",
				        visible: true
				      }
				    }
			})
			.then(function(confirm){
				if(confirm){
					
			    			
				}
			})

