<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>所有活動訂單資料 listAllOrder.html</title>

    <style>
        label input[type="search"]{
            margin-bottom :  2rem;
        }

    </style>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center"> <h2>所有活動訂單 - listAllActivityOrder.html</h2>
        <h3><a class="navbar-brand" th:href="@{/activityOrder/select_order}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

<table id="example" class="display" style="width: 100%">
    <thead >
    <tr style="background-color:#CCCCFF">

        <th>活動訂單編號</th>
        <th>會員編號[會員姓名]</th>
        <th>活動場次編號</th>
        <th>促銷編號</th>
        <th>訂單日期</th>
        <th>報名人數</th>
        <th>訂單總金額</th>
        <th>促銷金額</th>
        <th>實付金額</th>
        <th>訂單狀態</th>
        <th>退款狀態</th>
        <th>備註</th>
        <th>明細</th>
        <th>修改</th>
        <th>刪除</th>
    </tr>
    </thead>

    <tbody>
    <th:block th:each="activityOrderVO : ${activityOrderListData}">
        <tr>
            <td th:text="${activityOrderVO.activityOrderId}"></td>
            <td th:text="${activityOrderVO.memberVO.memberId}+ '-[' + ${activityOrderVO.memberVO.memberName} + ']'"></td>
            <td th:text="${activityOrderVO.sessionVO.activitySessionId}"></td>
            <td th:text="${activityOrderVO.promotionVO.promotionId}"></td>
            <td th:text="${activityOrderVO.orderTime}"></td>
            <td th:text="${activityOrderVO.enrollNumber}"></td>
            <td th:text="${activityOrderVO.orderAmount}"></td>
            <td th:text="${activityOrderVO.promotionPrice}"></td>
            <td th:text="${activityOrderVO.payAmount}"></td>
            <td th:switch="${activityOrderVO.orderState }">
                <span th:case="0">已繳費</span>
                <span th:case="1">取消訂單</span>
                <span th:case="2">完成訂單</span>
            </td>
            <td th:switch="${activityOrderVO.refundState}">
                <span th:case="0">無須退款</span>
                <span th:case="1">尚未退款</span>
                <span th:case="2">退款中</span>
                <span th:case="3">完成退款</span>
            </td>
            <td th:text="${activityOrderVO.orderMemo}"></td>
            <td>
                <form method="post" th:action="@{getOne_For_Display2}">
                    <input type="hidden" name="activityOrderId" th:value="${activityOrderVO.activityOrderId}" >
                    <input type="submit" value="詳細資料">
                </form><br>
            </td>
            <td>
                <form method="post" th:action="@{/activityOrder/getOne_For_Update}" style="margin-bottom: 0px;">
                    <input type="submit" value="修改">
                    <input type="hidden" name="activityOrderId" th:value="${activityOrderVO.activityOrderId}"></form>

            </td>
            <td>
                <form method="post" th:action="@{/activityOrder/delete}" style="margin-bottom: 0px;">
                    <input type="submit" value="刪除">
                    <input type="hidden" name="activityOrderId" th:value="${activityOrderVO.activityOrderId}"></form>

            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<div class="b" th:if="${getOne_For_Display}">
    <!--使用listOneOrder.html網頁的listOneOrder-div片段-->
    <div th:insert="~{/back_end/activityOrder/listOneOrder :: listOneOrder-div}"></div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                    <!-- ●●js  for jquery datatables 用 -->
<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>              <!-- ●●js  for jquery datatables 用 -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!--●●css for jquery datatables 用 -->

<!-- ●● jquery datatables 設定 -->
<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "lengthMenu": [3 ,5, 10, 20, 50, 100],
            "searching": true,  //搜尋功能, 預設是開啟
            "paging": true,     //分頁功能, 預設是開啟
            "ordering": true,   //排序功能, 預設是開啟
            "language": {
                "processing": "處理中...",
                "loadingRecords": "載入中...",
                "lengthMenu": "顯示 _MENU_ 筆結果",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
                "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                "infoPostFix": "",
                "search": "搜尋:",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "aria": {
                    "sortAscending":  ": 升冪排列",
                    "sortDescending": ": 降冪排列"
                }
            }
        });
    });
</script>

</body>
</html>