<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/back_end/include/include_top}"></div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <title>所有活動訂單資料</title>

    <style>
        label input[type="search"] {
            margin-bottom: 1.5rem;
        }

        table.dataTable {
            margin-bottom: 1rem !important;
        }

        table.dataTable thead th {
            text-align: center !important;
        }

        th:first-child {
            border-top-left-radius: 6px;

        }

        th:last-child {
            border-top-right-radius: 6px;

        }

        table.dataTable > thead > tr > th {
            padding-top: 25px !important;
            padding-bottom: 25px !important;
        }

        .t-t-2 th:nth-child(1)::before,
        .t-t-2 th:nth-child(9)::before,
        .t-t-2 th:nth-child(10)::before {
            display: none !important;
        }

        .t-t-2 th:nth-child(1)::after,
        .t-t-2 th:nth-child(9)::after,
        .t-t-2 th:nth-child(10)::after {
            display: none !important;
        }


    </style>

</head>
<body>
<div th:replace="~{/back_end/include/include_body}"></div>
<div class="unique">
    <input type="hidden" id="success" th:value="${success}">
    <div>
        <h2 class="hc-1">所有活動訂單列表</h2>
    </div>
    <div class="controls">


        <table id="example" class="display tr-line tl">
            <thead class="t-t-1">
            <tr class="t-t-2">
                <th class="th-w6 tp-2">訂單內容</th>
                <th class="th-w6">訂單編號</th>
                <th class="th-w2-3">&nbsp;&nbsp;訂單日期</th>
                <!--        <th>會員編號[會員姓名]</th>-->
                <th class="th-w2-3">場次日期</th>
                <th class="th-w9">場次時段</th>

                <!--        <th>報名人數</th>-->
                <!--        <th>訂單總金額</th>-->
                <!--        <th>促銷金額</th>-->
                <th>實付金額</th>
                <th>訂單狀態</th>
                <th>退款狀態</th>
                <!--        <th>備註</th>-->

                <th class="th-w5">編輯</th>
                <th class="th-w5">刪除</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="activityOrderVO : ${activityOrderListData}">
                <tr>
                    <td class="th-w4">
                        <!--                <form method="post" th:action="@{getOne_For_Display2}">-->
                        <!--                    <input type="hidden" name="activityOrderId" th:value="${activityOrderVO.activityOrderId}" >-->
                        <!--                    <input type="submit" value="查看">-->
                        <!--                </form><br>-->
                        <button type="button" class="btn  cu-1 td-1" data-bs-toggle="modal"
                                th:data-bs-target="'#staticBackdrop'+ ${activityOrderVO.activityOrderId}">查看

                        </button>
                    </td>
                    <!-- Modal -->

                    <div class="modal fade " id="staticBackdrop"
                         th:id="'staticBackdrop' + ${activityOrderVO.activityOrderId}"
                         data-bs-backdrop="static" 　data-bs-keyboard="false" 　tabindex="-1" 　
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content cu-1">
                                <div class="modal-header pw-2">
                                    <h3 class="modal-title hc-3" id="staticBackdropLabel">活動訂單明細&nbsp;<span
                                            th:text="${activityOrderVO.activityOrderId}"></span>&nbsp;內容</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body pw-3">
                                    <div class="modal-dialog modal-lg">
                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">會員編號 【會員姓名】</h5>
                                            </div>
                                            <input type="text" class="form_element3 " name="memberId"
                                                   th:value="${activityOrderVO.memberVO.memberId} + ' 【' + ${activityOrderVO.memberVO.memberName} + '】'"></input>
                                        </div>
<!--                                        <div class="mb-4-5">-->
<!--                                            <div class="mb-4">-->
<!--                                                <h5 class="f-w">促銷編號</h5>-->
<!--                                            </div>-->
<!--                                            <input type="text" class="form_element3" name="promotionId"-->
<!--                                                   th:value="${activityOrderVO.promotionVO.promotionId != null ? activityOrderVO.promotionVO.promotionId : '無'}">-->
<!--                                        </div>-->
                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">&nbsp;<i class="fa-solid fa-calendar-days"
                                                                         style="color: #454a46;"></i>&nbsp;訂單日期</h5>
                                            </div>
                                            <input type="text" class="form_element3" name="orderTime"
                                                   th:value="${activityOrderVO.orderTime}"></input>
                                        </div>
                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">活動場次日期與時段</h5>
                                            </div>
                                            <input type="text" class="form_element11 " name="activitySessionId"
                                                   th:value="${activityOrderVO.sessionVO.activityDate} "></input>
                                            <span><i class="fa-regular fa-clock fa-lg"></i></span>
                                            <input type="text" class="form_element12" name="orderTime"
                                                   th:value="${'&nbsp;'+ #dates.format(activityOrderVO.time_PeriodVO.timePeriod, 'HH:mm')}"></input>
                                        </div>

                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">報名人數</h5>
                                            </div>
                                            <input type="text" class="form_element3" name="enrollNumber"
                                                   th:value="${activityOrderVO.enrollNumber} + ' 位'"></input>
                                        </div>
                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">訂單總金額</h5>
                                            </div>
                                            <span class="nt-u2 f-z">NT$&nbsp;</span>
                                            <input type="text" class="form_element5 nt-u2" name="orderAmount"
                                                   th:value="${activityOrderVO.orderAmount}"></input>
                                        </div>
                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">促銷金額</h5>
                                            </div>
                                            <span class="nt-u2 f-z">NT$&nbsp;</span>
                                            <input type="text" class="form_element5 nt-u2" name="promotionPrice"
                                                   th:value="${activityOrderVO.promotionPrice}"></input>
                                        </div>
                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">實付金額</h5>
                                            </div>
                                            <span class="nt-u2 f-z">NT$&nbsp;</span>
                                            <input type="text" class="form_element5 nt-u2" name="payAmount"
                                                   th:value="${activityOrderVO.payAmount}"></input>
                                        </div>
                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">訂單狀態</h5>
                                            </div>
                                            <div class="form_element6">
                                    <span th:switch="${activityOrderVO.orderState}">
                                        <span th:case="0">已繳費</span>
                                        <span th:case="1">取消訂單</span>
                                        <span th:case="2">完成訂單</span>
                                        </span>
                                            </div>
                                        </div>
                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">退款狀態</h5>
                                            </div>
                                            <div class="form_element6">
                                    <span th:switch="${activityOrderVO.refundState}">
                                        <span th:case="0">無須退款</span>
                                        <span th:case="1">尚未退款</span>
                                        <span th:case="2">退款中</span>
                                        <span th:case="3">完成退款</span>
                                    </span>
                                            </div>
                                        </div>

                                        <div class="mb-4-5">
                                            <div class="mb-4">
                                                <h5 class="f-w">備註</h5>
                                            </div>

                                            <textarea type="text" class="textarea_element3 "
                                                      name="activityInfo"
                                                      th:text="${activityOrderVO.orderMemo}"></textarea>

                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- Modal end-->
                    <td class="th-w4" th:text="${activityOrderVO.activityOrderId}"></td>
                    <!--            <td th:text="${activityOrderVO.memberVO.memberId}+ '-[' + ${activityOrderVO.memberVO.memberName} + ']'"></td>-->
                    <td class="th-w4" th:text="${activityOrderVO.orderTime}"></td>
                    <td class="th-w4" th:text="${activityOrderVO.sessionVO.activityDate}" ></td>
                    <td class="th-w4" th:text="${#dates.format(activityOrderVO.time_PeriodVO.timePeriod, 'HH:mm')}"></td>


                    <!--            <td th:text="${activityOrderVO.enrollNumber}"></td>-->
                    <!--            <td th:text="${activityOrderVO.orderAmount}"></td>-->
                    <!--            <td th:text="${activityOrderVO.promotionPrice}"></td>-->
                    <td class="th-w4" th:text="'$&nbsp;'+ ${activityOrderVO.payAmount}"></td>
                    <td th:switch="${activityOrderVO.orderState }">
                        <span th:case="0">已繳費</span>
                        <span th:case="1">取消訂單</span>
                        <span th:case="2">完成訂單</span>
                    </td>
                    <td th:switch="${activityOrderVO.refundState}">
                        <span th:case="0">無須退款</span>
                        <span th:case="1">尚未退款</span>
                        <span th:case="2">退款中</span>
                        <span th:case="3">完成退款</span>
                    </td>
                    <!--            <td th:text="${activityOrderVO.orderMemo}"></td>-->

                    <td>
<!--                        <button type="button" class="btn btn-outline-success2 cu-5" data-bs-toggle="modal"-->
<!--                                th:data-bs-target="'#staticBackdrop2'+ ${activityOrderVO.activityOrderId}">編輯-->
<!--                        </button>-->
                                        <form method="post" th:action="@{/activityOrder/getOne_For_Update}" style="margin-bottom: 0px;">
                                            <input type="submit"  class="btn btn-outline-success2 cu-5" value="編輯">
                                            <input type="hidden" name="activityOrderId" th:value="${activityOrderVO.activityOrderId}"></form>

                    </td>

                    <td>
                        <form method="post" th:action="@{/activityOrder/delete}" style="margin-bottom: 0px;" onsubmit="return confirmDelete(this);">
                            <input type="submit" class="btn btn-outline-secondary cu-5" value="刪除">
                            <input type="hidden" name="activityOrderId" th:value="${activityOrderVO.activityOrderId}" onclick="confirmDelete(this.form)">
                        </form>

                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">
    // 在页面加载完成后执行
    window.onload = function() {
        /*<![CDATA[*/
        // 獲取隱藏內容的值
        var successValue = /*[[${success}]]*/ '';

        // 如果成功消息存在且不為空，則顯示彈框
        if (successValue && successValue.trim() !== '') {
            Swal.fire({
                icon: 'success',
                title: '成功',
                text: successValue
            });
        }
        /*]]>*/
    };
    function confirmDelete(form) {
        Swal.fire({
            title: '確定要刪除嗎？',
            text: "刪除後，資料不可復原！",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#35cce7',
            cancelButtonColor: '#d33',
            confirmButtonText: '是的，刪除它！',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit();
            }
        });
        return false; // 阻止提交行為
    }
</script>
<!--<div class="b" th:if="${getOne_For_Display}">-->
<!--    &lt;!&ndash;使用listOneOrder.html網頁的listOneOrder-div片段&ndash;&gt;-->
<!--    <div th:insert="~{/back_end/activityOrder/listOneOrder :: listOneOrder-div}"></div>-->
<!--</div>-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>


<div th:replace="~{/back_end/include/include_bottom}"></div>

<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<!-- ●●js  for jquery datatables 用 -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css"/>
<!--●●css for jquery datatables 用 -->

<!-- ●● jquery datatables 設定 -->
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "lengthMenu": [5, 10, 15, 20, 25, 50, 100],
            "searching": true,  //搜尋功能, 預設是開啟
            "paging": true,     //分頁功能, 預設是開啟
            "ordering": true,   //排序功能, 預設是開啟
            "language": {
                "processing": "處理中...",
                "loadingRecords": "載入中...",
                "lengthMenu": "顯示 _MENU_ 筆結果",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 筆結果，共_TOTAL_筆",
                "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                "infoPostFix": "",
                "search": "搜尋:",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "aria": {
                    "sortAscending": ": 升冪排列",
                    "sortDescending": ": 降冪排列"
                }
            }
        });
    });
</script>

</body>
</html>