<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	

</style>
</head>
<body>

<div th:fragment="detail-div">
	
	<div>
		<h3><span>詳細資料</span></h3><br>
	</div>
	
	
	<div>
		<span>訂單編號:<span th:text="${shopOrderVO.shopOrderId}"></span></span><br>
		<span>訂單成立時間:<span th:text="${shopOrderVO.productOrderDate}"></span></span><br>	
	</div>	
	
	<hr>
	
	<div>
		<th:block th:each="shopOrderDetailVO : ${shopOrderDetailSet}">
		<span>訂單明細編號:<span th:text="${shopOrderDetailVO.shopOrderDeatilId}"></span></span><br>
		<span>商品編號:<span th:text="${shopOrderDetailVO.product.productId}"></span></span><br>
		<span>商品名稱:<span th:text="${shopOrderDetailVO.product.productName}"></span></span><br>
		<span>商品單價:<span th:text="${shopOrderDetailVO.product.productPrice}"></span></span><br>
		<span>購買數量:<span th:text="${shopOrderDetailVO.orderQuantity}"></span></span><br>
		<span>單筆明細總額:<span th:text="${shopOrderDetailVO.productAmount}"></span></span><br>
		<hr>
		</th:block>
	</div>
	
	<div>
		<span>訂單總金額:<span th:text="${shopOrderVO.productTotal}"></span></span><br>
	</div>
	
	<hr>
	
	<div>
		<span>消費者姓名:<span th:text="${shopOrderVO.name}"></span></span><br>
		<span>消費者信箱:<span th:text="${shopOrderVO.email}"></span></span><br>
		<span>消費者電話:<span th:text="${shopOrderVO.phone}"></span></span><br>
		<span>消費者地址:<span th:text="${shopOrderVO.address}"></span></span><br>
	</div>
	
	
</div>




</body>
</html>