<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	

</style>
</head>
<body>

<div th:fragment="detail-div">
	
	
		<h3><span>詳細資料</span></h3><br>
	
	
	
	<div>
		<span>訂單編號:<span th:text="${activityOrderVO.activityOrderId}"></span></span><br>
		<span>訂單成立時間:<span th:text="${activityOrderVO.orderTime}"></span></span><br>	
	</div>	
	
	<hr>
	
	<div>
		<span>活動類別:<span th:text="${activityOrderVO.sessionVO.itemVO.categoryVO.activityCategoryName}"></span></span><br>
		<span>活動名稱:<span th:text="${activityOrderVO.sessionVO.itemVO.activityName}"></span></span><br>
		<span>活動地點:<span th:text="${activityOrderVO.sessionVO.activityLocation}"></span></span><br>
		<span>活動日期:<span th:text="${activityOrderVO.sessionVO.activityDate}"></span></span><br>
		<span>活動時段:<span th:text="${activityOrderVO.time_PeriodVO.timePeriod}"></span></span><br>
		<span>活動單價:<span th:text="${activityOrderVO.sessionVO.itemVO.activityPrice}"></span></span><br>
		<span>參加人數:<span th:text="${activityOrderVO.enrollNumber}"></span>人</span><br>
	</div>
			
	<hr>
	
		<h3><span>促銷折扣資訊</span></h3><br>
		
	<div th:if="${activityOrderVO.promotionVO}">
		<span>促銷標題:<span th:text="${activityOrderVO.promotionVO.promotionTitle}"></span></span><br>
		<span>促銷折價:<span th:text="${activityOrderVO.promotionPrice}"></span></span><br>	
	</div>
	
	<div th:if="${activityOrderVO.promotionVO == null}">
		<span>該筆活動沒有折價促銷活動喔!</span>
	</div>
	
	<hr>
	
	<div>
		<span>訂單總金額:<span th:text="${activityOrderVO.orderAmount}"></span></span><br>
		<span>折扣後總金額:<span th:text="${activityOrderVO.payAmount}"></span></span><br>
	</div>
	
	<hr>
	
	<div>
		<span th:if="${activityOrderVO.orderMemo}">訂單備註:<span th:text="${activityOrderVO.orderMemo}"></span></span><br>
		<span th:if="${activityOrderVO.orderMemo == null}">訂單備註:<span>無備註。</span></span><br>
	</div>
	
	<hr>
	
	<h3><span>參加人員資訊(代表填寫)</span></h3><br>
	
	<div>
		<th:block th:each="attendeesVO : ${attendeesSet}">
			<span>參加者姓名:<span th:text="${attendeesVO.attendeesName}"></span></span><br>
			<span>參加者身分證字號:<span th:text="${attendeesVO.attendeesIdNumber}"></span></span><br>
			<span>參加者電話:<span th:text="${attendeesVO.attendeesPhone}"></span></span><br>
			<span>參加者Email:<span th:text="${attendeesVO.attendeesEmail}"></span></span><br>			
			<hr>
		</th:block>
	</div>
	
	
</div>




</body>
</html>