<div th:replace="~{/back_end/include/include_top}" xmlns="http://www.w3.org/1999/html"></div>
<title>活動類別新增</title>

<style>


</style>
</head>
<body>
<div th:replace="~{/back_end/include/include_body}"></div>

<div class="unique">
	<div>
		<h2 class="hc-2">新增活動類別</h2>
	</div>

	<div >

		<form th:action="@{insert}" method="post" th:object="${categoryVO}" enctype="multipart/form-data">

			<div class="mb-4">
				<div class="mb-4">
					<h5 class="f-w">活動類別名稱 <span class="require_text">(必填)</span></h5>
				</div>
			<input type="text" class="form_element" th:field="*{activityCategoryName}" onclick="hideContent('activityCategoryName.errors');" />
				<div th:if="${#fields.hasErrors('activityCategoryName')}" class="error" id="activityCategoryName.errors">
					<span th:errors="*{activityCategoryName}" ></span>
					<i class="fa-solid fa-circle-exclamation" style="color: #dc3545;"></i>
				</div>
			</div>
			
			<div class="mb-3">
				<div class="mb-4">
					<h5 class="f-w">活動類別說明</h5>
				</div>
			<textarea  class="textarea_element" th:field="*{activityCategoryInfo}" onclick="hideContent('activityCategoryInfo.errors');" /></textarea>
			<div  th:if="${#fields.hasErrors('activityCategoryInfo')}" th:errors="*{activityCategoryInfo}" class="error" id="activityCategoryInfo.errors"></div>
			</div>
			<br>
			<div>

				<div class="btn_area">
<!--					<button type="submit" id="" class=" btn btn-secondary cu-2"> 返回 </button>-->
					<button type="button" class="btn btn-secondary cu-2" onclick="window.location.href='/category/listAllCategory'">返回</button>
				<button type="submit" id="submit" class=" btn btn-outline-success2 cu-2"> 新增 </button>
				</div>
			</div>		
		</form>
	
	</div>
</div>
	
	
<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}
</script>
<div th:replace="~{/back_end/include/include_bottom}"></div>