<div th:replace="~{/back_end/include/include_top}"></div>
<title>所有活動類別資料</title>
<style>
    label input[type="search"]{
        margin-bottom :  1.5rem;
    }

    table.dataTable{
        margin-bottom: 1rem !important;
    }

    table.dataTable thead th {
        text-align: center !important;
    }
    table.dataTable>thead>tr>th{
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }

    th:first-child {
        border-top-left-radius: 6px;

    }
    th:last-child{
        border-top-right-radius: 6px;

    }

    .dataTables_wrapper .dataTables_filter {
        /*margin-left: 3rem; !  */
        /*float:left !important;*/
    }
    .dataTables_wrapper .dataTables_length {
        margin-left: 2rem;
        float:right !important;
    }
    /*.dataTables_wrapper .sorting:before,*/
    /*.dataTables_wrapper .sorting_asc:before,*/
    /*.dataTables_wrapper .sorting_desc:before {*/
    /*    display: none !important;*/
    /*}*/
    .t-t-2 th:nth-child(4)::before,
    .t-t-2 th:nth-child(5)::before {
        display: none !important;
    }
    .t-t-2 th:nth-child(4)::after,
    .t-t-2 th:nth-child(5)::after {
        display: none !important;
    }

</style>
</head>
<body>
<div th:replace="~{/back_end/include/include_body}"></div>
<div class="unique">

    <div>
        <h2 class="hc-1">活動類別列表</h2>
    </div>
    <div class="controls">
        <div class="button-container">
            <button class="btn btn-primary bttn" onclick="document.getElementById('link').click()">新增類別</button>
            <a id="link" href='addCategory'></a>
        </div>
            <table id="example" class="display tr-line " >

            <thead class="t-t-1">
            <tr class="t-t-2">
        <!--        <th>計數</th>-->
                <th class="th-w1">類別編號</th>
                <th class="th-w2">類別名稱</th>
                <th class="th-w3">活動類別說明</th>
                <th >&nbsp;編輯</th>
                <th >&nbsp;刪除</th>
            </tr>
            </thead>

            <tbody >
            <th:block th:each="categoryVO : ${categoryListData}">
                <tr >
        <!--            <td th:text="${categoryVOStat.count}"></td>-->
                    <td class="th-w4" th:text="${categoryVO.activityCategoryId}"></td>
                    <td class="th-w4" th:text="${categoryVO.activityCategoryName}"></td>
                    <td th:text="${categoryVO.activityCategoryInfo}"></td>

                    <td>
                        <form method="post" th:action="@{/category/getOne_For_Update}" style="margin-bottom: 0px;">
                            <input type="submit" class="btn btn-outline-success2 cu-1 " data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="編輯">
                            <input type="hidden" name="activityCategoryId" th:value="${categoryVO.activityCategoryId}"></form>

                    </td>
                    <td>
                        <form method="post" th:action="@{/category/delete}" style="margin-bottom: 0px;">
                            <input type="submit" class="btn btn-outline-secondary cu-1" value="刪除">
                            <input type="hidden" name="activityCategoryId" th:value="${categoryVO.activityCategoryId}"></form>

                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>





<div th:replace="~{/back_end/include/include_bottom}"></div>


<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>              <!-- ●●js  for jquery datatables 用 -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- ●●css for jquery datatables 用 -->

<!-- ●● jquery datatables 設定 -->
<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "lengthMenu": [5, 10, 20, 25, 50],
            "searching": true,  //搜尋功能, 預設是開啟
            "paging": true,     //分頁功能, 預設是開啟
            "ordering": true,   //排序功能, 預設是開啟
            "language": {
                "processing": "處理中...",
                "loadingRecords": "載入中...",
                "lengthMenu": "每頁顯示 _MENU_ 個",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                "infoPostFix": "",
                "search": "搜尋：",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "aria": {
                    "sortAscending":  ": 升冪排列",
                    "sortDescending": ": 降冪排列"
                }
            }
        });
    });
</script>
