<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>活動類別 </title>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>
	<div align="center"> <h2>活動類別資料 </h2>
	<h3><a class="navbar-brand" th:href="@{/category/select_category}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
	
	<div align="center" th:fragment="listOneCategory-div"> <!-- 此div被select_page.html第158行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>活動類別編號:</span><span th:text="${categoryVO.activityCategoryId}"></span><br/>
		<span>活動類別名稱:</span><span th:text="${categoryVO.activityCategoryName}"></span><br/>
		<span>活動類別說明:</span><span th:text="${categoryVO.activityCategoryInfo}"></span><br/>
		
	</div>

</body>
</html>