<div th:replace="~{/back_end/include/include_top}"></div>
<title>活動類別修改 </title>

<style >

	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<div class="modal-dialog modal-lg">
 <div align="center"> <h2>活動類別編輯</h2>
		 <h3><a class="navbar-brand" th:href="@{/category/select_category}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{update}" method="post" th:object="${categoryVO}" enctype="multipart/form-data">
			<div>
			<label>活動類別編號:</label>
			<input type="text" th:field="*{activityCategoryId}" style="border:0px ; font-weight: bold;" readonly /><br/>

			</div>

			<div>
			<label>活動類別名稱:</label>
			<input type="text" th:field="*{activityCategoryName}" onclick="hideContent('activityCategoryName.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('activityCategoryName')}" th:errors="*{activityCategoryName}" class="error" id="activityCategoryName.errors"></span>
			</div>

			<div>
			<label>活動類別說明:</label>
			<input type="text" th:field="*{activityCategoryInfo}" /><br/>

			</div>

			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出修改 </button></div>
				<div></div>
			</div>
		</form>
	</div>
</div>

<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}
</script>
 <div th:replace="~{/back_end/include/include_bottom}"></div>