<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Cactus BackEnd</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!--商店-->
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Pridi:wght@600&display=swap" rel="stylesheet">
    
    <!-- Tac One -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap" rel="stylesheet">
   

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
	<link rel="stylesheet" th:href="@{/lib/back_end/animate/animate.min.css}"/>
	<link rel="stylesheet" th:href="@{/lib/back_end/owlcarousel/assets/owl.carousel.min.css}"/>
	<link rel="stylesheet" th:href="@{/lib/back_end/tempusdominus/css/tempusdominus-bootstrap-4.min.css}"/>

	<!-- Customized Bootstrap Stylesheet -->
	<link rel="stylesheet" th:href="@{/css/back_end/bootstrap.min.css}"/>
	
	<!-- Template Stylesheet -->
	<link rel="stylesheet" th:href="@{/css/back_end/style.css}"/>
    <STYLE>
      .unique{
        text-align: ;
      }
    </STYLE>
  
  
</head>



<body>
    <!-- Spinner Start  瀏覽器載入前的遮蓋頁面-->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
        <img class="position-absolute top-50 start-50 translate-middle" src="img/icon-12.png" alt="Icon">
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start 置頂列-->
    <div class="container-fluid green-bg p-0 wow fadeIn " data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex shadow ">

            <!-- 左側圖標 -->
            <div class="col-lg-7 px-4 text-start">
                <img src="./img/LOGO-7.png">
                <span class="navbar-brand2" href="#">CACTUS</span>
                <!-- <div class="h-100 d-inline-flex align-items-center py-3 me-3"> -->
                    <!-- <a class="text-body px-2" href="tel:+0123456789"><i class="fa fa-phone-alt text-white me-2"></i>+012 345 6789</a>
                    <a class="text-body px-2" href="mailto:info@example.com"><i class="fa fa-envelope-open text-gold me-2"></i>info@example.com</a> -->
                <!-- </div> -->
            </div>

            <!-- 右側文字節點 -->
            <div class="col-lg-5  text-end">
                
                <!-- <div class="container-fluid2">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <a class="text-white px-2" href="">加入會員</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                </div> -->
                <div class=" d-inline-flex align-items-center   height-1 border-dot">
                    <!-- <a class="text-white px-2" href="">English ｜</a>
                    <a class="text-white px-2" href="">日本語 ｜</a> -->
                    <a class="text-white padding-set " href="">員工姓名</a>
                    

                </div>
                <div class=" d-inline-flex align-items-center  me-2 height-1 border-dot">
                    <!-- <a class="text-white px-2" href="">English ｜</a>
                    <a class="text-white px-2" href="">日本語 ｜</a> -->
                    <a class="text-white px-4 " href="">登出</a>
                    

                </div>
                <!-- <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-0" href=""><i class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Topbar End -->




    <div class="display-a">
    

    <!-- 側邊欄 -->
    <div class="main-menu">

        <!-- <nav class="main-menu"> -->
            <ul class="list">
  
                <!-- 
                  <li class="list-set border-dot2">                                    
                    <a class="changecolor" href=""> 
                      <i class="fa fa-home fa-lg"></i> 
                      <span class="nav-text">首頁</span> 
                    </a> 
                  </li>     
                -->
                   
                <!-- 
                  <li class="list-set border-dot2">                                 
                    <a class="changecolor" href="">
                      <i class="fa fa-user fa-lg"></i>
                      <span class="nav-text">會員管理系統</span>
                    </a>
                  </li>    
                -->
                
                    
                <li class="border-dot2">    

                  <!--  單獨按鈕
                    <a  class="accordion" href="">
                      <i class="fa fa-envelope-o fa-lg"></i>
                      <span class="nav-text ">活動管理</span>
                    </a> 
                  -->

                  <div class="accordion-item2 ">
                    
                    <h2 class="accordion-header" id="headingOne">
                       
                      <button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa-solid fa-umbrella-beach padding-set2"></i>
                        &nbsp;&nbsp;&nbsp;員工管理系統
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      
                      
                      <div class="accordion-body2">

                        <ul class="list2">
                          <li class="list-set2"><a class="changecolor" href="">管理</a> </li>
                          <li class="list-set2"><a class="changecolor" href="">管理</a> </li>
                          <li class="list-set2"><a class="changecolor" href="">管理</a> </li>
                          <li class="list-set2"><a class="changecolor" href="">管理</a> </li>
                          <li class="list-set2"><a class="changecolor" href="">管理</a> </li>
                        </ul>
                  
                      </div>
                    </div>
                  </div>
                
                </li>  
                
                
                <li class="border-dot2">                                 
                  
                  
                    <div class="accordion-item2 ">
                        
                        <h2 class="accordion-header" id="headingTwo">
                           
                          <button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fa-solid fa-umbrella-beach padding-set2"></i>
                            &nbsp;&nbsp;&nbsp;活動管理系統
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body2">
                            <ul class="list2">
                                <li class="list-set2"><a class="changecolor" href="">活動類別管理</a></li>
                                <li class="list-set2"><a class="changecolor" href="">活動管理</a> </li>
                                <li class="list-set2"><a class="changecolor" href="">活動場次</a> </li>
                                <li class="list-set2"><a class="changecolor" href="">活動圖片管理</a> </li>
                                <li class="list-set2"><a class="changecolor" href="">活動訂單管理</a></li>
                                <li class="list-set2"><a class="changecolor" href="">活動促銷管理</a> </li>
                            </ul>
                      
                          </div>
                        </div>
                      </div>
                    
                    </li>  
                    
                    
                    <li class="border-dot2">                                 
              
                      
                <div class="accordion-item2 ">
                    
                    <h2 class="accordion-header" id="headingThree">
                       
                      <button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <i class="fa-solid fa-umbrella-beach padding-set2"></i>
                        &nbsp;&nbsp;&nbsp;商城管理系統
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body2">
                        <ul class="list2">
                            <li class="list-set2" id="management"><a class="changecolor" href="/product/listAllProduct">上架商品管理</a></li>
                            <li class="list-set2"><a class="changecolor" href="/product/historyProduct">下架商品管理</a> </li>
                            <li class="list-set2"><a class="changecolor" href="">單一商品</a> </li>
                            <li class="list-set2"><a class="changecolor" href="">管理</a></li>
                            <li class="list-set2"><a class="changecolor" href="">管理</a> </li>
                        </ul>
                  
                      </div>
                    </div>
                  </div>
                
                </li> 
                
                
                <li class="border-dot2">                                 
              

                <div class="accordion-item2 ">
                    
                    <h2 class="accordion-header" id="headingFour">
                       
                      <button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <i class="fa-solid fa-umbrella-beach padding-set2"></i>
                        &nbsp;&nbsp;&nbsp;房務管理系統
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body2">
                        <ul class="list2">
                            <li class="list-set2"><a class="changecolor" href="">管理</a></li>
                            <li class="list-set2"><a class="changecolor" href="">管理</a> </li>
                            <li class="list-set2"><a class="changecolor" href="">管理</a> </li>
                            <li class="list-set2"><a class="changecolor" href="">管理</a></li>
                            <li class="list-set2"><a class="changecolor" href="">管理</a> </li>
                        </ul>
                  
                      </div>
                    </div>
                  </div>
                
                </li> 
            </ul>
                  

        </div>

 
        
        <!-- 主欄位 -->
        <div class="unique">
         

        </div>
        

       
     
    </div>

    
    


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/lib/back_end/wow/wow.min.js}"/></script>
	<script th:src="@{/lib/back_end/easing/easing.min.js}"/></script>
	<script th:src="@{/lib/back_end/waypoints/waypoints.min.js}"/></script>
	<script th:src="@{/lib/back_end/counterup/counterup.min.js}"/></script>
	<script th:src="@{/lib/back_end/owlcarousel/owl.carousel.min.js}"/></script>
	<script th:src="@{/lib/back_end/tempusdominus/js/moment.min.js}"/></script>
	<script th:src="@{/lib/back_end/tempusdominus/js/moment-timezone.min.js}"/></script>
	<script th:src="@{/lib/back_end/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"/></script>

	<!-- Template Javascript -->
	<script th:src="@{/js/back_end/main.js}"></script>

	<!-- Kit Icon -->
	<script src="https://kit.fontawesome.com/8366d3754a.js" crossorigin="anonymous"></script>
    
    <!-- 商店 -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>  -->
    <!-- <script src="/shop/js/product.js"></script> -->
    <script src="/shop/js/datatable.js"></script>
    <script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

    
    <!--  <script>
      $("#management").on("click", function (e) {
        e.preventDefault();
        alert("aaa");
    
        // 移除現有的 DataTable 實例
        let existingTable = $.fn.dataTable.isDataTable('#productListData');
        if (existingTable) {
          $('#productListData').DataTable().clear().destroy();
        }
    
        // 添加新表格到 DOM
        let management = $(".unique");
        let productListAll =
            `<table id="productListData" class="display" style="width: 100%">
                <thead>
                    <tr style="background-color:#CCCCFF">
                        <th>商品編號</th>
                        <th>商品類別</th>
                        <th>商品簡述</th>
                        <th>商品價格</th>
                        <th>商品名稱</th>
                        <th>商品狀態</th>
                        <th>商品圖片</th>
                        <th>修改</th>
                    </tr>
                </thead>
                    <tbody>
                <th:block th:each="productVO : ${productListData}">
                    <tr>
                        <td th:text="${productVO.productId}"></td>
                        <td th:text="${productVO.productCategoryVO.productCategoryId}"></td>
                        <td th:text="${productVO.productDescribtion}"></td>
                        <td th:text="${productVO.productPrice}"></td>
                        <td th:text="${productVO.productName}"></td>
                        <td th:text="${productVO.productStatus}"></td>
                        <td><img th:src="@{/product/DBGifReader} + '?productId=' + ${productVO.productId}" width="100px"></td>
                        <td>
                            <form method="post" th:action="@{/product/getOne_For_Update}" style="margin-bottom: 0px;">
                                <input type="submit" value="修改">
                                    <input type="hidden" name="productId" th:value="${productVO.productId}"></form>

                        </td>
                                            
                    </tr>
                </th:block>
            </tbody>

            </table>`;
        management.html(productListAll);
    
        // 初始化 DataTable
        $('#productListData').DataTable({
          "lengthMenu": [3, 5, 10, 20, 50, 100],
          "searching": true,
          "paging": true,
          "ordering": true,
          "language": {
              "processing": "處理中...",
              "loadingRecords": "載入中...",
              "lengthMenu": "顯示 _MENU_ 筆結果",
              "zeroRecords": "沒有符合的結果",
              "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
              "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
              "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
              "search": "搜尋:",
              "paginate": {
                  "first": "第一頁",
                  "previous": "上一頁",
                  "next": "下一頁",
                  "last": "最後一頁"
              },
              "aria": {
                  "sortAscending": ": 升冪排列",
                  "sortDescending": ": 降冪排列"
              }
          }
        });
      });
    </script> -->

      <script>
      $(document).ready(function() {
        $('#manageProducts').click(function() {
        	alert("aaa");
            $.ajax({
                url: '/listAllProduct', // 請求的URL
                type: 'GET', // HTTP請求方法，默認為'GET'
                success: function(data) {
                    $('#mainContent').html(data); // 成功時的回調函數，將數據放入#mainContent
                },
                error: function(xhr, status, error) {
                    // 錯誤處理函數
                    console.error("Error fetching data: " + error);
                    $('#mainContent').html('<p>Error loading page</p>');
                }
            });
        });

         // 初始化 DataTable
        $('#productListData').DataTable({
          "lengthMenu": [3, 5, 10, 20, 50, 100],
          "searching": true,
          "paging": true,
          "ordering": true,
          "language": {
              "processing": "處理中...",
              "loadingRecords": "載入中...",
              "lengthMenu": "顯示 _MENU_ 筆結果",
              "zeroRecords": "沒有符合的結果",
              "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
              "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
              "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
              "search": "搜尋:",
              "paginate": {
                  "first": "第一頁",
                  "previous": "上一頁",
                  "next": "下一頁",
                  "last": "最後一頁"
              },
              "aria": {
                  "sortAscending": ": 升冪排列",
                  "sortDescending": ": 降冪排列"
              }
          }
        });

    });
    </script>
    
    <!-- <script>
      $("#management").on("click", function (e) {
        alert("aaaa");
        e.preventDefault();
        let management = $(".unique");


        let productListAll =
            `
            <table id="productListData" class="display" style="width: 100%">
                <thead >
                    <tr style="background-color:#CCCCFF">
                        <th>商品編號</th>
                        <th>商品類別</th>
                        <th>商品簡述</th>
                        <th>商品價格</th>
                        <th>商品名稱</th>
                        <th>商品狀態</th>
                        <th>商品圖片</th>
                        <th>修改</th>
                    </tr>
                </thead>

                
            </table>`

            management.html(productListAll);
      })



    
    </script> -->

    <!-- <script>
    $(document).ready(function() {
      $('#productListData').DataTable({
        "lengthMenu": [3 ,5, 10, 20, 50, 100],
        "searching": true,  //搜尋功能, 預設是開啟
          "paging": true,     //分頁功能, 預設是開啟
          "ordering": true,   //排序功能, 預設是開啟
          "language": {
              "processing": "處理中...",
              "loadingRecords": "載入中...",
              "lengthMenu": "顯示 _MENU_ 筆結果",
              "zeroRecords": "沒有符合的結果",
              "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
              "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
              "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
              "infoPostFix": "",
              "search": "搜尋:",
              "paginate": {
                  "first": "第一頁",
                  "previous": "上一頁",
                  "next": "下一頁",
                  "last": "最後一頁"
              },
              "aria": {
                  "sortAscending":  ": 升冪排列",
                  "sortDescending": ": 降冪排列"
              }
          }
      });
    });
  </script> -->

    
	<script>


// 	$.ajax({
// 		url:'./front_end/member/listAllMember.jsp',
// 		type:'get',
// 		success:function(res){
// 			$('#change_block').html($(res));
// 		}
// 	})
	
	
	
	</script>




</body>

</html>